[2019-09-14 17:48] glenngoss opened #1 "Just logged in as pretend user"
This is what I see on log in.

![image](https://user-images.githubusercontent.com/21148346/64911939-b42dbb80-d6ed-11e9-85ec-59367074041d.png)

Is this just me?  You fixed this for my exec.sec log in.

![image](https://user-images.githubusercontent.com/21148346/64911961-e93a0e00-d6ed-11e9-8f7d-15c6a1524be2.png)

is any one else going to be confused?

[2019-09-14 17:54] glenngoss opened #2 "Issue with clicking on XEHub on ribbon bar still exists"
When I click on either my name or the XEHub button on the main ribbon tab, I am still being sent to my profile page at least when I'm logged in as a pretend officer.   I need to be able to see the administration page with the buttons and tabs I'm authorized to use highlighted and nothing else.  Something still isn't working correctly.

We've got to get this fixed before we open this to our Beta-te

[2019-09-14 18:01] glenngoss commented on #2
Hum, I see the dropdowns under the ribbon bar headings have been limited somewhat.  We need to get the permissions list fixed as discussed the last time we visited.

[2019-09-14 18:08] glenngoss opened #3 "Sort function in PEOPLE doesn't seem to be working correctly."
Here's what I see when I click on the PEOPLE button.

![image](https://user-images.githubusercontent.com/21148346/64912085-c577c780-d6ef-11e9-8586-2f9ff6f66316.png)

Here's what I see when I sort on last name.

![image](https://user-images.githubusercontent.com/21148346/64912097-fbb54700-d6ef-11e9-9f1a-daddb5956ff1.png)

It appears that the system is sorting only the names shown for records 0 - 10

[2019-09-14 18:16] glenngoss opened #4 "Not sure I understand the rational for having edit button available for Chapter and District buttons on ribbon"
Clicking on the green pencil edit button pulls up another log in screen.  I might see that the FA could be authorized to change chapter information, but I think only HQ should have the ability to adjust District Information.  (Never allow DC's to adjust this data either)

![image](https://user-images.githubusercontent.com/21148346/64912207-93fffb80-d6f1-11e9-99b6-c8c8331fb1f0.png)

Agree to view d

[2019-09-14 18:26] glenngoss opened #5 "Please verify operation of Event Button using alias identity"
When I clicked on Event, I was taken to this page.
![image](https://user-images.githubusercontent.com/21148346/64912290-afb7d180-d6f2-11e9-8f7d-bc437dd8777e.png)
It was necessary for me to sort descending order to get to this screen.
![image](https://user-images.githubusercontent.com/21148346/64912304-d413ae00-d6f2-11e9-9e9d-75165e06061c.png)
Both detail buttons led me to this screen
![image](http

[2019-09-15 18:00] glenngoss opened #6 "Thoughts on Welcome to MBFVSolutions initial screen on sign-in"
Please find attached proposed modifications to your initial screen sign-in agreement.

[Proposed Welcome to MBFVSolutions.docx](https://github.com/MBFVSolutionsLLC/ChiEpsilonMemberSupport/files/3614089/Proposed.Welcome.to.MBFVSolutions.docx)

Cookies
We employ the use of cookies. By using XEHub CMS website, you consent to the use of cookies in accordance with MBFVSolutions, LLC’s **privacy policy*

[2019-09-15 19:45] brunofvalli commented on #1
Yes, you are the president of the Chapter of UTA.

ONce you log off (and do remember to log off your record will be removed. If you were to try to add a new member you will see you are only able to add members to UTA.

BTW you are adding this ticket in the CHiEpsilonMemberSupport github page instead of the ChiEpsilon page.

[2019-09-15 19:45] #1 closed, assigned to nobody

[2019-09-15 22:05] brunofvalli commented on #2
Hello Glenn,

 Found bug on the alert. Now when you click on the XEHub symbol and get routed to profile the following pop up should display:

![image](https://user-images.githubusercontent.com/5949285/64928232-cd606600-d7da-11e9-8ab1-d3da090e9846.png)

It should let you know what you are missing and you should fill that information to continue.

This will be up in the next update. Also other warni

[2019-09-15 22:05] #2 closed, assigned to nobody

[2019-09-15 22:19] glenngoss commented on #2
Logged in under alias, only option was the member services GitHub.

Sent from Yahoo Mail on Android

  On Sun, Sep 15, 2019 at 5:05 PM, Bruno<notifications@github.com> wrote:
Hello Glenn,

Found bug on the alert. Now when you click on the XEHub symbol and get routed to profile the following pop up should display:

It should let you know what you are missing and you should fill that information to

[2019-09-17 02:54] brunofvalli commented on #4
Hello Glenn,
Working on this.
It is done. It took longer than expected right now running through tests. Should be able to deploy tomorrow. If there are any high priority issue please tag it in the system.

[2019-09-18 03:14] brunofvalli commented on #4
This has been fixed and it is in the latest version.
More detail can be found here:
https://github.com/MBFVSolutionsLLC/ChiEpsilon

[2019-09-18 03:14] #4 closed, assigned to brunofvalli

[2019-09-19 03:19] brunofvalli commented on #5
This has been fixed and will be in the next version after 1.14.19260.2148

[2019-09-19 03:19] #5 closed, assigned to nobody

[2019-09-24 02:46] brunofvalli commented on #3
This was happening only to officer logged in. Sorting was not working for them. This has been fixed.
Next version after 1.14.19263.2359 will have this fix.

[2019-09-24 02:46] #3 closed, assigned to nobody

[2019-09-26 03:19] brunofvalli commented on #6
I am adding a Privacy Policy on the next version.

On your document you mention the following right at the start

----
Welcome to the XEHub Candidate
Management System (CMS)

**Concepts and functionality for the XEHub CMS was developed by Chi Epsilon, Inc.  System programming has been developed in coordination with MBFVSolutions, LLC**, located at 5124 Escambia Terrace, Fort Worth, Texas 76244.
--

[2019-09-26 13:41] glenngoss commented on #6
Oh, my!  You're absolutely right now that I look at it from your prospective.  I'm sorry I didn't see this earlier.  Let me think about how to wordsmith this area so both of us are completely satisfied.  Of course, when you are finally able to start marketing the product to other firms, we'd expect you to remove the wording associated with XE.   More later today.   Once again, I didn't mean to inc

[2019-09-26 21:12] glenngoss commented on #6
You and I need some face to face time next week. I want to go item by item through this agreement, so I understand your reasons for having that item in the agreement.  Secondly, I want to work through the list of things which need to be fixed.  **NOTE: Selected chapters are using this system NOW!**   Please tell me when you are available to meet.

Here's my second attempt.

[Version 2 Proposed Wel

[2019-10-06 14:17] glenn-goss commented on #6
Short discussion of status on this issue requested

[2019-10-09 11:39] glenngoss opened #7 "Can we reset the ChiEpsilonMemberSupport GitHub?"
On second thought, I should have put my comments about issues observed while I was acting as a fake officer in the admin GitHub.  Could you reinitialize the ChiEpsilonMembersSupport GitHub so there are no issues or closed issues in the system?

[2019-10-09 12:14] glenngoss opened #8 "This is a test"
Example screen shot for PowerPoint slide show

![image](https://user-images.githubusercontent.com/21148346/66480467-642fe380-ea64-11e9-8013-fea9427dbad2.png)

[2019-10-10 03:56] brunofvalli commented on #7
You should be able to close issue here, but there are no way to delete issues completely if that what you are asking.

[2019-10-11 01:11] #7 closed, assigned to nobody

[2019-10-16 14:32] glenngoss commented on #7
Okay, if you can't erase them then why don't you create a new GitHub with a different title so that the record is clean. You can do this now, because none of the officers or people who have logged in have created any new GitHub issues.
Had I known that you couldn't erase things oh, I would have never put them in the chiepsilonmembersupport GitHub area.  
My intent in asking you to create another G

[2019-10-18 14:59] JBWalrider opened #9 "Duplicate e-mail. Another person already has the e-mail of <email>"
I cannot register because the website says the email is already in use.  I believe this may be because I already registered in person with the president of my chapter so I am already on the list.  You may have to remove all those who have already registered in order to test the new website.

Please note that when exiting out of the "about" page and attempting to log in normally, I can do so (after

[2019-10-18 21:10] JBWalrider commented on #9
I am able to have an account but not able to update my profile.  So for now it is fine, but other members may be having this same issue.  I am not quite sure how I got past it the first time.

By the way, not sure if this should go in here or the other repo, but the website linked here... I am a new member of XE.

Edit: Just talked to another member who has tried; apparently if the primary email i

[2019-10-22 19:12] kvought opened #10 "Re-invite Candidates"
I am trying to re-invite candidates that I added as a group (by uploading an excel spreadsheet). However, when I click re-invite next to the person's name, I get an Access Denied warning. How can I re-invite these candidates?

Thank you

[2019-10-23 21:02] skab16 opened #11 "Candidates Unable to Join XEHub through Link"
Hello,

My name is Steffi Acevedo, and I'm the president of the Georgia Tech  chapter  (#20) of Chi Epsilon. I have successfully added our candidates for membership for this semester into our Applicants page; however, I've been told by various candidates  that they are not able to click on the link that was included in the email. I've tried to attach a screenshot of what the email looks like. Plea

[2019-10-24 03:43] brunofvalli commented on #11
Hello Steffi,

 There was an issue in the system that was fixed on Sunday (10/20/2019). If you were to reinvite Emma she would get the new email, actually I have already done for Emma, but you can also do to any other member that might have gotten this bad email.

 To reinvite someone please go to "Member" -> "Applicants"

![image](https://user-images.githubusercontent.com/5949285/67451477-272c2b0

[2019-10-24 03:43] #11 closed, assigned to brunofvalli

[2019-10-25 11:39] brunofvalli commented on #10
this been fixed. Please try again.

[2019-10-25 11:39] #10 closed, assigned to nobody

[2019-10-25 11:42] #8 closed, assigned to nobody

[2019-10-28 18:39] amurtagh18 opened #12 "Invited Applicants not appearing"
Two of the invited candidates I entered into the system are no longer appearing. I attempted to re-invite them by adding them through the invite a person page. However, I get a notification saying that "E-mail 'XXX@.edu' already exists on the system. Cannot invite someone who is already in the system."

[2019-10-29 00:53] brunofvalli commented on #9
Hello

 Sorry for the delay.

 The design is the following...

 You get one e-mail address to login that is also assigned to one Person account, that one person account is connected to one Member account that is in turn connected to multiple memberships.

 So if you have a person account that already exists with a given e-mail and you register with that same e-mail your e-mail login gets assign th

[2019-10-29 00:53] #9 closed, assigned to brunofvalli

[2019-10-29 01:02] brunofvalli commented on #12
Could you send me the e-mail addresses of some of these people?

[2019-10-29 02:59] amurtagh18 commented on #12
The two emails I can't find are for Peter Gallagher (pgallagh@stevens.edu)
and  Gabriel  Sifuentes (gsifuent@stevens.edu)

On Mon, Oct 28, 2019 at 9:02 PM Bruno <notifications@github.com> wrote:

--
*Alexander Murtagh*
Stevens Institute of Technology 20'
B.E. Civil Engineering
Chi Epsilon Civil Engineering Honor Society - President
Stevens Martial Arts and Self Defense Club- President
Sigma Phi Ep

[2019-10-29 04:12] brunofvalli commented on #12
I have fixed the issue.
When you invited them did you manually add each one, or did you use an excel spreadsheet?

[2019-10-29 14:32] amurtagh18 commented on #12
Thank you for fixing the issue! I used the excel spreadsheet.

On Tue, Oct 29, 2019 at 12:13 AM Bruno <notifications@github.com> wrote:

--
*Alexander Murtagh*
Stevens Institute of Technology 20'
B.E. Civil Engineering
Chi Epsilon Civil Engineering Honor Society - President
Stevens Martial Arts and Self Defense Club- President
Sigma Phi Epsilon NJA RLC Fraternity

[2019-10-30 03:58] #12 closed, assigned to brunofvalli

[2019-10-31 14:45] HarrySuchyta opened #13 "I signed in and am an officer but cannot use the system"
I signed in using my @umich.edu address and it sent me to the "Apply to a chapter" area. I talked to Glenn Goss and he looked in the system and added my email contact info because it was blank. I tried to re sign in and now the system has my email address but I seem to be stuck in the "sign up for a chapter" page.

I am an officer at the University of Michigan and I am trying to upload my candidat

[2019-11-01 14:30] glenngoss commented on #13
Please let me know when this is finished.

[2019-11-04 21:44] haydenrandall commented on #13
I'm having a similar issue. When I click apply to chapter, I get the attached image
![self invitation has been disabled](https://user-images.githubusercontent.com/57373702/68160693-99b7d780-ff11-11e9-992a-759a1b2ea46b.png)

[2019-11-05 01:52] brunofvalli commented on #13
Adding a place to assign logins to people. Testing today.

[2019-11-10 21:37] bkdukes commented on #13
I am an officer as well and I am having the exact same issue.

[2019-11-10 23:51] brunofvalli commented on #13
I need to know the following information:
Your full name:
your e-mail addresses (if you have more than one):
The e-mail address you used to sign in:
Your officer position:
Your chapter name:

[2019-11-10 23:56] bkdukes commented on #13
Email address: bkdukes@nmsu.edu<mailto:bkdukes@nmsu.edu>
(I used the above address to sign in to the XE hub)
Officer Position: Marshall
Chapter Name: Chapter 66 <— I believe this is our chapter name but I have included more details below.
Chi Epsilon at NMSU (New Mexico State University).

Thank you for replying so promptly! Please let me know if there is anything else that you need.

Brandon Duke

[2019-11-11 00:49] haydenrandall commented on #13
e-mail addresses (if more than one): haydenhar2016@gmail.com & hayden16@nmsu.edu

e-mail address used to sign in: hayden16@nmsu.edu

Officer position: Secretary

Chapter name: Chapter 66- New Mexico State University (NMSU)

Hayden A. Randall
NMSU Civil Engineering, Senior & Student Assistant
NMSU LANL Scholar Success Program, Ambassador
NMSU Chi Epsilon Honor Society, Chapter Secretary
(575)770-96

[2019-11-11 01:44] HarrySuchyta commented on #13
I need to know the following information:
Your full name: Harrison Timothy Suchyta
your e-mail addresses (if you have more than one): hsuchyta@umich.edu
harrysuchyta@gmail.com
The e-mail address you used to sign in: harrysuchyta@gmail.com
Your officer position: Treasurer
Your chapter name: University of Michigan Chapter 25

[2019-11-11 03:57] brunofvalli commented on #13
Hello Harrison and Hayden,

 I have fixed both of your records.

 Please log off and log back in and you should be able to be a officer. If that does not work try the log off and log back in. If still does not work let me know.

[2019-11-11 03:59] bkdukes commented on #13
Hi, were you able to fix my record as well?
I sent the information that you requested a couple of hours ago but I noticed that you only replied to Hayden and Harrison

Brandon Dukes

[2019-11-11 04:01] brunofvalli commented on #13
@bkdukes  Sorry, yes just did it.

[2019-11-11 04:03] brunofvalli commented on #13
@bkdukes  just fixed also the Officer system. So you should be active. Please log off and log back in.

[2019-11-11 04:05] bkdukes commented on #13
Thank you very much, seems to work.

Brandon

On Nov 10, 2019, at 9:03 PM, Bruno <notifications@github.com<mailto:notifications@github.com>>

[2019-11-11 04:10] brunofvalli commented on #13
@glenngoss Hello Glenn

So you know here is what I did.

1.  Looked under person for their names.
1. Found there were 2 records with the same name
1. Out of the two records there was only one with 'Login User Name'
![image](https://user-images.githubusercontent.com/5949285/68560315-2ed13980-0406-11ea-9b10-65e1d7aeb498.png)
1. Noticed also the person was not a member since the bottom of the screen

[2019-11-11 15:04] skab16 opened #14 "Moving Initiates from Officer Approved to Paid and Scheduled."
**What is the e-mail address you are using to login to xehub**
skab16@gatech.edu

**Describe the bug**
Hello,
I'm trying to move the applicants under officer approved all the way to scheduled, however I keep getting a server error when I click "Pay" in the Officer Approved Tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Applicants
2. Click on Officer Approved
3. Scroll down to eit

[2019-11-11 15:12] skab16 opened #15 "Current Members Unable to see Chapter Pages"
**What is the e-mail address you are using to login to xehub**
skab16@gatech.edu

**Describe the bug**
Hello,
It's come to my attention that a current members, James Pressey, of our XE Chapter (#20, Georgia Institute of Technology), has been able to access XEHub but not been able to see anything. It actually asks him to apply for a chapter. We haven't started fully using the XEHub platform, but I

[2019-11-11 20:37] keith-opalski commented on #13
Hello, I am having the same issue that haydenrandall is. I am an officer in the organization but have the same error that self invitation is disabled. Any help would be greatly appreciated.

Full Name: Keith Tyler Opalski
Email Sign In: Keith.Opalski@ttu.edu
Other Email: kojokeith8723@gmail.com
Officer Position: President
Chapter 85: Texas Tech University

[2019-11-11 23:25] glenngoss commented on #13
Here is where you report this type of issue on GitHub.  Since Bruno is included in this email string. I'm sure he will get back to you.
G

Sent from Yahoo Mail on Android

  On Mon, Nov 11, 2019 at 2:37 PM, keith-opalski<notifications@github.com> wrote:
Hello, I am having the same issue that haydenrandall is. I am an officer in the organization but have the same error that self invitation is disab

[2019-11-12 02:26] jonak1 commented on #13
I am an officer with the same problem as listed above.

Full Name: Jordan Overton Nakayama
Email Sign In: jonak1@uab.edu
Other Email: nakayamajordan@yahoo.com
Officer Position: President
Chapter: University of Alabama at Birmingham

[2019-11-12 02:31] brunofvalli commented on #13
@keith-opalski and @jonak1  I have fixed your records. Please try to login again.

[2019-11-12 02:32] brunofvalli commented on #15
This is duplication on issue #13
Please read the issue above for solution.

[2019-11-12 02:32] #15 closed, assigned to brunofvalli

[2019-11-12 02:43] jonak1 commented on #13
Thank you, Bruno.

I am not sure if I am just not seeing/understanding this system yet, but I do not have any way to invite new members, or set meetings, or any of the shortcuts to manage my chapter as an officer. Is there somewhere else I should be doing this or should my position automatically have these options available when activated?

[2019-11-12 02:55] brunofvalli commented on #14
Found the issue. I have fixed this and will be online shortly.

You will get the following message now instead of the crash message:
![image](https://user-images.githubusercontent.com/5949285/68637870-82ef2300-04c5-11ea-9d41-58b1d2b1f08f.png)

When you click on the person normally it is trying to find the order for the person. There was a previous error that a person order was not getting created

[2019-11-12 03:20] brunofvalli commented on #13
@jonak1  Sorry forgot to make you President. Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-12 04:20] cwilliams72 commented on #13
@brunofvalli I'm having the same login issue as the above.

Name: Travis Chase Williams
Email Login: cw7817@uab.edu
Other Email: cwilliams7217@gmail.com
Officer Position: Secretary
Chapter: University of Alabama at Birmingham / #127

[2019-11-12 04:32] brunofvalli commented on #14
This has been fixed. Please try to do again. If there still an issue please make a note on this issue and I will reopen it.

[2019-11-12 04:32] #14 closed, assigned to brunofvalli

[2019-11-12 04:39] brunofvalli commented on #13
@cwilliams72  you have been fixed.
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-12 14:58] vedranakrstic commented on #13
Faculty advisor with the same problem
Name: Vedrana Krstic
Email Login: krstic@tcnj.edu
Other Email: vedrana.home@gmail.com
Officer Position: Faculty Advisor
Chapter: The College of New Jersey #143

[2019-11-12 20:23] keith-opalski commented on #13
@brunofvalli I was able to login however I believe you have made me a member and not an officer. I cannot see the shortcuts to invite members or update the officer list as the one displayed is outdated. I am currently the President of the chapter at Texas Tech University, Chapter 85.

[2019-11-13 02:52] brunofvalli commented on #13
@keith-opalski I have looked on the list of officers for your chapter 85, and there is already a president. Here is the list of officers.

![image](https://user-images.githubusercontent.com/5949285/68728945-450a0180-058e-11ea-858f-ec56e1572313.png)

Are you supposed to take over after the 27th?

@glenngoss would need to authorize before I can make you president.

[2019-11-13 03:02] brunofvalli commented on #13
@cwilliams72
Hello Vedrana,

 I have added you as an Facult Advisor. I did not know when your term ended, so I set it to 3/29/2020. Please go here to update the end date:
https://xehub.azurewebsites.net/Officer/Edit/cd9660e4-4cc3-49d0-adb4-60f74f4a6194

Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-13 21:28] keith-opalski commented on #13
@brunofvalli The officers that you sent are not the current officers. They were the officers from last semester and they finished on May 31st, not began. I am uncertain why they are listed as the current officers as the new officer report was sent in May. I became the president during May and am the current president this and next semester.

[2019-11-13 22:06] glenngoss commented on #13
I can answer your question regarding the status of the officers in the chapter. Yes, indeed you guys did send your new officer report in as desired. Congratulations! 
However, our staff is hard-pressed to keep up with incoming materials, much less enter data from the past semesters.  All of this will be straightened out once the chapters start uploading their officer data directly into the system.

[2019-11-14 12:24] vedranakrstic commented on #13
Bruno, Thank you, it worked. I noticed that the member list only contains
our honor members. How can we add other active members to that list? Thank
you. Regards, Vedrana Krstic

On Tue, Nov 12, 2019 at 10:02 PM Bruno <notifications@github.com> wrote:

[2019-11-14 12:41] brunofvalli commented on #13
@vedranakrstic
Please create a new issue, since this is not related to login.

[2019-11-14 12:41] brunofvalli commented on #13
@glenngoss  you will need to fix this. If you want me to fix let me know what is the start and end dates for @keith-opalski

[2019-11-14 12:46] vedranakrstic opened #16 "Incomplete Member List"
Member list for chapter $143 displays honor members only. How can we add other members to the list? Thank you.
Vedrana Krstic
krstic@tcnj.edu
Faculty Advisor Chapter #143

[2019-11-14 13:00] brunofvalli commented on #16
Try to "Cancel" out of the Member List and go back in.
![image](https://user-images.githubusercontent.com/5949285/68859167-521d1280-06ac-11ea-8a9e-898b96c76932.png)

If this works let me know. There might be a bug where if you visit another member listing is not resetting the filters.

[2019-11-14 13:02] vedranakrstic commented on #16
It worked. Thank you.

On Thu, Nov 14, 2019 at 8:00 AM Bruno <notifications@github.com> wrote:

[2019-11-14 17:16] haydenrandall opened #17 "Incomplete Person List"
**What is the e-mail address you are using to login to xehub**
hayden16@nmsu.edu

**Describe the bug**
The person list does not include all members. I noticed that in the Member List, the Membership List value is "0" or "1". What does this mean? The persons with values of "0" are members, and are not showing up on the people list.

**To Reproduce**
Steps to reproduce the behavior:
1. On "Member" M

[2019-11-14 18:43] Sinaconstantine commented on #13
@brunofvalli I'm having the same login issue as the above.

Name: Sina Zamen
Email Login: szamen@nmsu.edu
Other Email: sina.zamen@hotmail.com
Officer Position: Editor
Chapter: New Mexico State University / #66

[2019-11-14 19:56] sarastickney commented on #13
I am having the same issue:
Sara Stickney
sara-stickney@uiowa.edu
sarakstickney@gmail.com
President
University of Iowa Chapter #16

[2019-11-15 02:21] brunofvalli commented on #13
@Sinaconstantine
Is your birthday 8/24(self) or 8/23(system)?
Sorry I cannot make you a Editor the system has no special powers for Editors. However your membership is now active.

[2019-11-15 02:23] brunofvalli commented on #13
@sarastickney
Is your birthday  10/16(self) or 10/27(system)

[2019-11-15 02:27] sarastickney commented on #13
Neither it is 10/26.

[2019-11-15 02:27] brunofvalli commented on #13
@sarastickney you have been made President.
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-15 02:33] brunofvalli commented on #17
I will be removing this column. That is the number of "extra" membership a person has.  So a person that is a member of 2 chapters would show a 1. And A person who is also a Chapter Honor Member should show a 1.

[2019-11-15 02:39] haydenrandall commented on #17
Ok. But why aren't individuals showing up in the people list?

Hayden A. Randall
NMSU Civil Engineering, Senior & Student Assistant
NMSU LANL Scholar Success Program, Ambassador
NMSU Chi Epsilon Honor Society, Chapter Secretary

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bruno <notifications@github.com>
Sent: Thursday, November 14, 2019 7:33:13 PM
To: MB

[2019-11-15 02:45] haydenrandall commented on #13
Sina is already listed as AssociateEditor in the officer page. Does he not have officer permissions?

[2019-11-15 03:07] glenngoss commented on #13
Associate editor is an officer position.  I wonder why I didn't pickup on this earlier.
G

[2019-11-15 03:29] brunofvalli commented on #13
@haydenrandall you are correct. I was looking for "Editor" and did not find it. It was "Associate Editor"

[2019-11-15 03:30] brunofvalli commented on #13
@Sinaconstantine you are an officer
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-17 23:19] bgrennie17 opened #18 "Cannot register"
I tried to register using my school email and thought I did not receive an email, so I tried my personal and did not receive one again.  I didn't realize it was in my spam till the next day and when I clicked the link in my email I got an error message.  Here's the snip.

![errorXEhubLink](https://user-images.githubusercontent.com/57878209/69015681-583d1880-0964-11ea-9bed-c323c69cce5a.JPG)

I wasn

[2019-11-18 11:52] vedranakrstic opened #19 "Applicant registered but not showing up on the "invitation accepted" list"
TCNJ #143
Applicant: Nicholas Izzo
Emai: nizzo@eustiseng.com
Other email: nickizzo523@gmail.com
We can't see this applicant among those that have accepted the invitation.

[2019-11-18 16:13] johnbbeltran commented on #13
@brunofvalli

I am also an officer that has self-invitation disabled.

Full name: John Patrick Banzon Beltran
E-mail addresses (if you have more than one): jbbeltra@asu.edu; jbeltran1295@yahoo.com
E-mail address used to sign in: jbbeltra@asu.edu
Officer position: Secretary
Chapter name: Arizona State University, #106

[2019-11-18 18:22] skab16 opened #20 "Officer Access"
**What is the e-mail address you are using to login to xehub**
skab16@gatech.edu

**Describe the bug**
Many of our members, including **officers**, are not able to access our chapter XEHub site. They are able to access a homepage that asks them to apply for a chapter.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in
2. Homepage does not display anything other than "Apply to a Chapter"

[2019-11-18 19:29] vedranakrstic commented on #19
We resolved this issue. The applicant created an account using different email from the one to which the invitation was sent to. Once he recreated the account with the original email he was added to the list of applicants that accepted the invitation.

[2019-11-18 22:51] vedranakrstic commented on #19
We have another applicant who registered with a different email. There is problem with a security software at his workplace which is not allowing that email to be used. How can we change his status from invited to invitation accepted?
Applicant: Edward Wilkes
Invitation email: ewilkes@waremalcomb.com (this email is not allowing registration)
Registration email: ewilkes2@gmail.com (applicant regist

[2019-11-19 03:01] brunofvalli commented on #13
@johnbbeltran
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-19 03:45] brunofvalli commented on #17
Found the issue. Will be fixed on the next version after 1.15.19318.637

[2019-11-19 04:12] brunofvalli commented on #18
@glenngoss
I need you to please verify that Brian Rennie is supposed to be the president of Chapter 143 "The College Of New Jersey"  I cannot verify that since the current Officers that I show are the following:
![image](https://user-images.githubusercontent.com/5949285/69115980-31f4a700-0a50-11ea-96cc-83f688d41932.png)

Once you confirm I can add him

@bgrennie17
I have connect your account. I no

[2019-11-19 04:19] brunofvalli commented on #19
You can reject the current invitation and create a new one.

### To do that
1. Go to Member -> Applicants
1. Select the "Invited" tab
![image](https://user-images.githubusercontent.com/5949285/69116240-3bcada00-0a51-11ea-91fa-3044bc34e5ea.png)
1. Type in a "Log message" on why you are doing this.
1.  Click on "Reject"
![image](https://user-images.githubusercontent.com/5949285/69116258-556c2180-0a5

[2019-11-19 04:19] #19 closed, assigned to brunofvalli

[2019-11-19 04:21] brunofvalli commented on #20
Please check issue #13 for instruction on how to request this to be fixed.
You will need to supply some information about each of your chapter officers.

Add a comment at the end of the tread with the following information.
I need to know the following information:
Your full name:
your e-mail addresses (if you have more than one):
The e-mail address you used to sign in:
Your officer position:
Your

[2019-11-19 04:21] #20 closed, assigned to nobody

[2019-11-19 04:22] #17 closed, assigned to brunofvalli

[2019-11-19 04:45] brunofvalli commented on #16
I have fixed this. It will be implemented in the application after version: 1.15.19318.637

[2019-11-19 04:45] #16 closed, assigned to nobody

[2019-11-19 19:42] vedranakrstic opened #21 "Unable to Reject Invitation"
Unable to reject invitation. The following error message was displayed:
Access Denied: You cannot Krstic, Vedrana members of chapter ''

We are trying to re-invite Edward Wilkes who is stuck on our list of invited even though he completed registration.
Chapter TCNJ #143

[2019-11-19 19:43] vedranakrstic opened #22 "Chapter Trustees"
Where can we select which members are elected chapter Trustees.

[2019-11-20 00:42] ksparks13 commented on #13
I am also an officer with the same problem.

Full name: Kayla Sparks
E-mail Addresses: ksparks@nmsu.edu; ksparks13@icloud.com
E-mail address used to sign in: ksparks@nmsu.edu
Officer position: Treasurer
Chapter Name: New Mexico State University, #066

[2019-11-20 04:08] brunofvalli commented on #22
Currently this feature is been developed.

[2019-11-20 04:18] brunofvalli commented on #13
@ksparks13
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-11-20 04:45] bgrennie17 commented on #18
Ah thank you! Sorry that was dumb on my part.  Now it's not allowing me to save my account, though, because  it's saying my emails are duplicates.

![errorXEhub4](https://user-images.githubusercontent.com/57878209/69209730-5ae76b80-0b26-11ea-88a6-aac84dac8530.JPG)

[2019-11-20 04:55] brunofvalli commented on #21
This has been fixed. It will be applied on version  1.15.19323.606

[2019-11-20 04:58] #21 closed, assigned to brunofvalli

[2019-11-21 02:56] brunofvalli commented on #18
I have fixed this. If you login again it should associate you with the right account.

[2019-11-21 02:56] #18 closed, assigned to brunofvalli, glenngoss

[2019-11-22 16:42] jonak1 opened #23 "Membership Initiation Fees"
When I originally planned for new initiates, I looked on the website at the fee schedule and there was an option that was less if you did not select jewelry. I set up initiation costs based on the understanding that it would only cost $78/person. Is there any way to change the charges for each student?

[2019-11-23 06:06] brunofvalli commented on #23
that would be a @glenngoss question. The system currently does not allow the removal of items from an initiation.

[2019-11-25 11:55] glenngoss commented on #23
The system is currently set-up to mimic the majority of the cash transactions between candidates and their respective chapters.     **Since you are collecting the lower, non-jewelry, fee, I'd recommend inputting $94.00 to keep the system happy and to move your candidates along the flow-path between invitation to attended.**

Eventually, we plan to integrate the XEHub system with our accounting sys

[2019-11-25 16:03] jonak1 commented on #23
So to clarify, I am being charged for the higher, jewelry included, fee?

[2019-11-25 16:36] glenngoss commented on #23
Technically, that is correct.  However, HQ is still not receiving vendor information from the system.  Once you schedule all candidates to a specific initiation event, send us an email (XEHQ@chi-epsilon.org) telling us the date of your initiation, a list of candidates to be initiated, their membership type (U, G, FM, or CHM) and that you do not want to order jewelry.  We'll take care of sending yo

[2019-11-25 21:26] ylenh commented on #13
Hello, I am with the UCLA XE chapter and am also having a similar issue.

Full name: Yuen Lenh
E-mail address used to sign in: y.lenh07@gmail.com
Officer position: Marshall
Chapter Name: University of California, Los Angeles, #116

[2019-11-26 03:47] graysong2020 commented on #13
@brunofvalli I'm having the same login issue as the above.

Name: Grayson Ray Gilliland
Email Login: g0953268@uab.edu
Other Email: grgilliland2020@gmail.com
Officer Position: Editor
Chapter: University of Alabama at Birmingham / #127

[2019-11-27 18:24] sararaines commented on #13
@brunofvalli I am having the same issue.

Name: Sara Carole Raines
Email Login: scraines@go.olemiss.edu
Other: scraines16@gmail.com
Officer: President
Chapter: University of Mississippi #14

[2019-12-02 00:58] brunofvalli commented on #13
@ylenh
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-02 01:37] brunofvalli commented on #13
@graysong2020
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-02 01:41] brunofvalli commented on #13
@sararaines
The system does not show you as a member of Chi-Epsilon. @glenngoss  would need to add you first before I can correct assignment.
@glenngoss  please use this record to create the member information:
https://xehub.azurewebsites.net/Person/Edit/d73b765a-fca0-473d-926b-987241a18376

[2019-12-03 17:57] amurtagh18 opened #24 "Logging Attendance at Induction"
I was trying to log attendance for my chapters induction today and I got an error message that said: "Could not find chapter for give membership." All members and officers on the list were present at the meeting.

This is for the Stevens Institute of Technology Chapter (125)

[2019-12-03 23:11] brunofvalli commented on #24
What is you email address you logged in to xehub system?

[2019-12-04 02:11] brunofvalli commented on #24
Fixed the issue.
Will be updating software shortly.

[2019-12-04 02:26] amurtagh18 commented on #24
Sorry, I just saw your message. I'm not sure if you still need the email
address that I used to log in, but it's amurtagh@stevens.edu.

On Tue, Dec 3, 2019 at 9:11 PM Bruno <notifications@github.com> wrote:

--
*Alexander Murtagh*
Stevens Institute of Technology 20'
B.E. Civil Engineering
Chi Epsilon Civil Engineering Honor Society - President
Stevens Martial Arts and Self Defense Club- President

[2019-12-04 02:29] brunofvalli commented on #24
Sorry I don't need your e-mail anymore.
Right now the application is going through testing right now. once testing is complete I will update the software. I will update this case when you can try to take attendance again.

[2019-12-04 03:39] brunofvalli commented on #24
Please try again version 1.15.19337.2012 has this new fix. Attendance should work now.

[2019-12-04 03:39] #24 closed, assigned to brunofvalli

[2019-12-04 03:39] brunofvalli commented on #24
If you have any other issues, please open a new case and reference case #24

[2019-12-04 06:15] mohammadihossain opened #25 "Shortcut page does not show all the button"
**What is the e-mail address you are using to login to xehub**
myemail@mydomain.something

**Describe the bug**
The shortcut page only shows "change personal information" button, it should show other buttons to invite member individually or group to do initiation. I am unable to invite member for initiation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2019-12-04 17:42] cjgrimm commented on #13
DONE
@brunofvalli I am having the same issue as everyone else.
Name: Cole J Grimm
Email Login: colegrimm98@gmail.com
Other: cjgrimm@mail.bradley.edu
Officer: President
Chapter: Bradley University (#69??)

[2019-12-04 19:37] lmzr17 commented on #13
DONE
@brunofvalli I am having the same issue
Name: Mathias Zacarias
Email Login: lmzr17@gatech.edu
Other: lmzr17@gmail.com
Officer: President
Chapter: Georgia Institute of Technology (#020)

[2019-12-04 19:39] zaika87 commented on #13
DONE
@brunofvalli I am having the same issue
Name: Kai Murata
Email Login: kmurata6@gatech.edu
Officer: Treasurer
Chapter: Georgia Institute of Technology (#20)

[2019-12-04 19:41] zoezhang728 commented on #13
DONE
@brunofvalli I am having the same issue
Name: Zoe Zhang
Email Login: zzhang743@gatech.edu
Officer: Philanthropy Chair
Chapter: Georgia Institute of Technology (#20)

[2019-12-04 19:41] NatalieD6 commented on #13
DONE
@brunofvalli  I am having the same issue
Name: Natalie Daugherty
Email Login: natalie.daugherty0806@gmail.com
Officer: Secretary
Chapter: Georgia Institute of Technology (#20)

[2019-12-05 02:23] brunofvalli commented on #25
It should be back up again.

Please let me know if it is not.

[2019-12-05 02:37] brunofvalli commented on #13
@cjgrimm
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-05 02:39] brunofvalli commented on #13
@lmzr17
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-05 02:52] brunofvalli commented on #13
@zaika87
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-05 03:02] brunofvalli commented on #13
@NatalieD6
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-05 03:18] brunofvalli commented on #13
@zoezhang728
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-09 23:20] ghost commented on #13
@brunofvalli  I am also having the same issue as everyone else.

Name: Christopher E DelRosario
Email Login: chris.delrosario16@gmail.com
Other: christopher.delrosario@sjsu.edu
Officer: Treasurer
Chapter: San Jose State University Chapter #79

[2019-12-10 01:40] brunofvalli commented on #13
@delirosi
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-10 18:48] ghost commented on #13
@brunofvalli I can log in now properly and see different tabs on top but I still can't add myself to my chapter (#79 San Jose State University) and the only shortcut I have in the main page is to "Change Personal Info". I think I may have been made a regular member of Chi Epsilon, instead of an Officer (Treasurer) so I could upload all of our initiate information.

[2019-12-11 03:39] brunofvalli commented on #13
@delirosi
Sorry I forgot to add you as the officer. Should be good now.
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2019-12-16 19:56] haydenrandall opened #26 "How do I add people to event?"
**What is the e-mail address you are using to login to xehub**
hayden16@nmsu.edu

**Describe the bug**
I'm trying to take full attendance for our initiation. I need to add Hamid Nemati (hnemati@nmsu.edu) as an initiate who attended, as well as our outgoing and incoming officers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Event' dropdown
2. Click on 'Event'
3. Click on detail symb

[2019-12-17 03:19] brunofvalli commented on #23
@glenngoss
I have just added version 1.15.19349.2210 and now values on an order can be changed only by the admin.

[2019-12-17 03:21] #23 closed, assigned to nobody

[2019-12-17 03:31] brunofvalli commented on #26
Has Hamid ever logged into the system? I show Hamid as invited but never accepted the invitation.

[2019-12-17 03:31] brunofvalli commented on #26
Hamid needs to login to the system and finished the acceptance of Invitation.

[2019-12-17 03:42] brunofvalli commented on #26
I have restored Hamid back to Invited.  I will disable the power to change dates as an officer. You should not have had this power.

[2019-12-17 04:10] brunofvalli commented on #26
New version 1.15.19350.2202 now does not allow edit of the initiation date by officers.

[2019-12-17 04:12] #26 closed, assigned to brunofvalli

[2019-12-17 18:52] lmzr17 commented on #13
@brunofvalli I already added my information above, but I'm still in the same situation. Copied my info again below.

Name: Mathias Zacarias
Email Login: lmzr17@gatech.edu
Other: lmzr17@gmail.com
Officer: President
Chapter: Georgia Institute of Technology (#20)

[2019-12-22 03:13] grilled10 commented on #13
@brunofvalli I am also having the same issue as everyone else. Thanks in advance!

Name: QiTong Han
Email Login: han8@cooper.edu
Other: hqitong24@gmail.com
Officer: Secretary
Chapter: The Cooper Union (#28)

[2019-12-24 19:46] ghost opened #27 "No current officers listed for Drexel University"
I am currently the president of the Drexel University chapter, but I am not listed as an officer/do not have any of the shortcuts necessary to invite new members. There are no 'current' officers listed for our chapter but I looked through the past officer list and I was listed as president until 12/11/19 (see picture below). This should be adjusted to 6/14/2020.

![image](https://user-images.githu

[2019-12-31 13:53] brunofvalli commented on #13
@grilled10
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

Sorry for the delay. I was out for the Holidays

[2019-12-31 13:57] brunofvalli commented on #13
@lmzr17
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

Sorry for the delay. I was out for the Holidays

[2019-12-31 13:59] brunofvalli commented on #27
Hello @callandaley I need your name on the system to assign you.

[2019-12-31 14:00] brunofvalli commented on #25
Since I have not heard from you I will assume all is well, if not please reopen the issue, or create a new issue and reference this one.

[2019-12-31 14:01] #25 closed, assigned to nobody

[2019-12-31 15:52] ghost commented on #27
Hi @brunofvalli my name on the system is Callan Daley. As seen in the above screenshot, I am listed as a past officer for Drexel.

[2019-12-31 19:42] brunofvalli commented on #27
@callandaley
I have extended your term until March of next year. Please adjust to the correct date if needed by going here:

https://xehub.azurewebsites.net/Officer/Edit/d96a5619-8505-4e9d-8adb-1e011deec2ca

![image](https://user-images.githubusercontent.com/5949285/71632288-5a38ff00-2bd3-11ea-8b6f-79fb993c4f98.png)

[2019-12-31 19:42] #27 closed, assigned to nobody

[2020-01-04 02:57] sarahmondloch commented on #13
@brunofvalli I am also having the same issue as everyone else.

Name: Sarah Mondloch
Email Login: smondloch@sdsu.edu
Other: sarahmondloch@yahoo.com
Officer: President
Chapter: San Diego State University (#64)

Thank You!

[2020-01-04 05:22] brunofvalli commented on #13
@sarahmondloch
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2020-01-08 03:03] brunofvalli commented on #22
I have added the trustee type it should be in the next update after 1.15.19350.2202.

[2020-01-10 20:11] sarahmondloch opened #28 "Updating Officer Type of Current Officer"
Name: Sarah Mondloch
Login Email: smondloch@sdsu.edu
Officer: President
Chapter: San Diego State University #64

One of our current officers was listed as the wrong officer. I created a new officer, but I am unable to delete the incorrect officer position. When I try to delete the incorrect officer it tells me I need to sign into a local account. If I try to edit, it does not complete the action.

[2020-01-11 04:44] brunofvalli commented on #28
I have fixed this issue. It will be updated as soon.

[2020-01-11 04:44] #28 closed, assigned to brunofvalli

[2020-01-14 02:56] brunofvalli commented on #22
This has been implemented.

[2020-01-14 02:56] #22 closed, assigned to brunofvalli

[2020-01-16 15:00] ghost opened #29 "Drexel University Faculty Adviser is not linked to our chapter"
Hello,
I am the president of the Drexel University chapter, and we are having trouble getting our faculty advisor linked to our chapter's account so he can approve our initiation event. He has registered for the system but does not have the permissions of a faculty advisor, even though I added him as the faculty adviser through the Officer Update feature. (see below screenshot - he is listed twice

[2020-01-17 02:32] brunofvalli commented on #29
I have fixed this issue. Basically this is related to issue #13, since Patrick L Gurian logged in an email that was not in the system he created a new record.

[2020-01-17 02:33] brunofvalli commented on #29
Patrick L Gurian should be able to login correctly now. Please ask him to log off and log back in and all should be good.

[2020-01-17 02:36] #29 closed, assigned to brunofvalli

[2020-01-17 03:11] ghost commented on #29
@brunofvalli Thank you for addressing the issue with his account. Could you also please fix Patrick Gurian's membership status, as I wrote about in the second half of my post above? The below screenshot is what he sees when he logs in now.

![thumbnail_image004](https://user-images.githubusercontent.com/59209678/72581338-043fa900-38ad-11ea-937d-86d16ae9f1f9.jpg)

[2020-01-17 20:08] glenn-goss opened #30 "Why is 'Select a Chapter' shown on screen when member logs in?"
Working with new 071 Secretary.  Once we got him logged into the system, I noticed that the upper ribbon bar was not displaying correctly. Why is this individual being shown Select a Chapter?

This is dead wrong and needs to be fixed.

![image](https://user-images.githubusercontent.com/28785631/72642727-ab1a5880-3932-11ea-8c6a-6223c319a046.png)

[2020-01-18 07:01] brunofvalli commented on #30
The work around to this is the user needs to log off and log back in. His identity changed while he was logged in.
This is not normal operation of the system. That is why it misbehaved.

[2020-01-19 00:38] kylemsamon commented on #13
@brunofvalli I am also having the same issue as everyone else.

Name: Kyle Samann
Email Login: samannk@uwplatt.edu
Other: kylemsamon@gmail.com
Officer: President
Chapter: University of Wisconsin-Platteville Chapter #077

[2020-01-19 21:12] brunofvalli commented on #13
@kylemsamon
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2020-01-19 21:13] brunofvalli commented on #30
If security information has changed on a user a log-off log-in procedure must be performed.
So if a person has been added as an officer they must be logged off and logged back in for the operation to take effect.

[2020-01-19 21:13] #30 closed, assigned to brunofvalli

[2020-01-28 22:12] DuaneLeis commented on #13
@brunofvalli I am also having the same issue as everyone else.

Name: Duane Leis
Email Login: leisd@uwplatt.edu
Other: leis.dewy@gmail.com
Officer: Associate Editor
Chapter: University of Wisconsin-Platteville Chapter #077

[2020-02-02 20:15] JoshuaKitagorsky commented on #13
@brunofvalli , I am having the same issue as above.

Name: Joshua Kitagorsky
Email Login: kitagors@cooper.edu
Other Email: joshbk99@gmail.com
Officer: President
Chapter: Cooper Union - Chapter #28

[2020-02-03 22:24] ClaireKillian commented on #13
Hi @brunofvalli, I'm also having the same issue. Here's my info:

Name: Claire Killian
Email Login: ckillian113@gmail.com
Other Email: clairekillian@g.ucla.edu
Officer: Vice President
Chapter: UCLA - Chapter #116

[2020-02-04 02:29] brunofvalli commented on #13
@DuaneLeis
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2020-02-04 02:30] brunofvalli commented on #13
@JoshuaKitagorsky
I found your record, but when I look on your chapter I noticed "Gregory Joseph Belenitsky" is already the President for Chapter 28. Please contact ChiEpsilon headquarters if this is a mistake:
![image](https://user-images.githubusercontent.com/5949285/73708469-1484c000-46c4-11ea-9558-0f72df71d078.png)

[2020-02-04 02:34] brunofvalli commented on #13
@ClaireKillian
Please log off log back in. If it does not work try to log off and log back in if still does not work contact me again.

[2020-02-17 21:23] Cgarcia258 opened #31 "Having issues rejecting candidates from last semester. And not able to login using school email, having to use president's email."
**What is the e-mail address you are using to login to xehub**
cgarcia258@tamu.edu

**Describe the bug**
When using the president's account, we are unable to reject invitations for candidates that did not complete requirements for last semester. It is giving an error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2020-02-18 04:41] brunofvalli commented on #31
What is:
Your full name:

Your chapter name/number:

Your position:

What screen are you trying to reject people? Can you give me one example of a person (full name)?

[2020-02-18 14:03] Cgarcia258 commented on #31
Full Name: Cesar Garcia

Chapter: Texas A&M University Chapter, I believe the chapter number is #56

Your Position: Chapter Secretary

It is on the officer approved screen. I am getting the message "Access Denied: You cannot Krishnan, Karthika members of chapter '' when trying to decline the invitation for Jonathan F Pressler. I am getting a similar message when trying to approve applicants.

Than

[2020-02-19 03:41] brunofvalli commented on #31
@Cgarcia258
Please log off and log back in again and you should be good now.

[2020-02-19 04:09] #31 closed, assigned to nobody

[2020-03-01 19:49] sengtong400 commented on #13
@brunofvalli Hi Bruno, I have the same issue.

Name: Seng Tong Ngann
Email Login: ngannsg@mail.uc.edu
Other Email: senghourmac@yahoo.com
Officer Position: Vice President
Chapter: University of Cincinnati #34
Thank you.

[2020-03-02 16:44] brunofvalli commented on #13
@sengtong400
You have created two accounts. Please log in only with:
ngannsg@mail.uc.edu

The other account
ngannsengtong@yahoo.com
is not associated with the correct record. I will remove it.

Please log off and log back in with ngannsg@mail.uc.edu and you should be good to go.

[2020-03-03 02:29] sengtong400 commented on #13
@brunofvalli the issue was not solved. Please see attached.
![Capture](https://user-images.githubusercontent.com/61665246/75737048-dd0e3100-5ccc-11ea-8835-703222f4df6a.PNG)

[2020-03-04 02:22] johnbbeltran commented on #13
@brunofvalli

I am a current officer and had access to the system. However, it seems that my term was set to end on 03/01/20. Is it possible to revise this end date and regain my officer privileges?

My information is provided below if needed.

Full name: John Patrick Banzon Beltran
E-mail addresses (if you have more than one): jbbeltra@asu.edu; jbeltran1295@yahoo.com
E-mail address used to sign i

[2020-03-04 02:29] glenngoss commented on #13
John,
I can help you with this in the morning.  Please send me a list of officers, officer names, email addresses, date started, and the end date for the current batch of officers. If you can do this tonight, it will be finished by the time you get up.  I'll be in the office between 5:30 and 6:00 am.
G

Sent from AT&T Yahoo Mail on Android

  On Tue, Mar 3, 2020 at 8:22 PM, johnbbeltran<notificati

[2020-03-04 03:36] johnbbeltran commented on #13
Thank you @glenngoss

President: Brielle Januszewski (bjanusze@asu.edu)
Vice President: Allyson Camillucci (acamillu@asu.edu)
Treasurer: Matthew Lemieux (mglemieu@asu.edu)
Secretary: John Patrick Beltran (jbbeltra@asu.edu)
Marshal: Tyler Dolyniuk (tdolyniu@asu.edu)
Editor: Hartley Pinn (hpinn@asu.edu)
FSO Liaison: Adam Tran (aztran@asu.edu)

Start Date: 04/19/19
End Date: 05/01/20

[2020-03-04 03:39] glenngoss commented on #13
Thank you.  I'll send an email on completion of update.
G

Sent from AT&T Yahoo Mail on Android

  On Tue, Mar 3, 2020 at 9:37 PM, johnbbeltran<notifications@github.com> wrote:

John, I can help you with this in the morning.  Please send me a list of officers, officer names, email addresses, date started, and the end date for the current batch of officers. If you can do this tonight, it will be fi

[2020-03-04 04:26] brunofvalli commented on #13
@sengtong400
This should be fixed now. Try to logoff and log back in.

[2020-03-05 03:21] sengtong400 commented on #13
@brunofvalli It was solved. Thank you. However, I had another issue when I tried to invite new members to my chapter. See attached. Is there anything that my chapter should do? Thanks.
![Capture](https://user-images.githubusercontent.com/61665246/75944729-7ae93380-5e66-11ea-9bb5-f72d8f4e5ec9.PNG)

[2020-03-05 04:08] brunofvalli commented on #13
@sengtong400
You need to talk with National Office

[2020-03-07 19:23] gnegym opened #32 "Scheduled Initiation Event Bug"
I previously created an event for our initiation date but it doesn't show up on the "Scheduled" tab under the "Event" heading. I am also unable to invite members to the event. When I try to create a new event at the same time, I am unable to do this because it is a 'duplicated event'. I also can't delete the initiation event to try and make a new one.

[2020-03-08 18:46] amurtagh18 opened #33 "Resolving XEhub issues to invite new members"
**What is the e-mail address you are using to login to xehub**
amurtagh@stevens.edu

**Describe the bug**
"Chapter #125 has unresolved XEHub issues. These must be cleared before you can initiate new members."

**To Reproduce**
Steps to reproduce the behavior:
I was attempting to invite new members through the invite a person page and received the error "Chapter #125 has unresolved XEHub issues. Th

[2020-03-09 03:32] brunofvalli commented on #33
You need to contact National Office. Your chapter has been blocked due to unresolved issues.

[2020-03-09 03:34] brunofvalli commented on #32
Please answer the questions bellow:
What is your full name?
What e-mail are you using to login to the system?
What is your chapter?
What date and time are you trying to create the event?

[2020-03-09 14:10] gnegym commented on #32
Name: Mariah Ann Gnegy
Email: gnegym@vt.edu
Chapter: #018 Virginia Tech
Initiation Date: Wednesday, April 29, 2020 20:00 (8:00 PM EST)

[2020-03-11 18:32] #33 closed, assigned to nobody

[2020-03-11 18:38] amurtagh18 opened #34 "Issue inviting new members"
**What is the e-mail address you are using to login to xehub**
amurtagh@stevens.edu

**Describe the bug**
I attempted to invite new members but I get the message that the email is already in use by another user. I think this is because I attempted to invite these members when my account was blocked due to unresolved issues. I can invite new members who I did not attempt to invite while I was block

[2020-03-12 13:08] brunofvalli commented on #34
Try again.

I have deleted the invalid users

On Wed, Mar 11, 2020 at 1:38 PM amurtagh18 <notifications@github.com> wrote:

--
God bless,
Bruno F Valli

[2020-03-14 06:58] brunofvalli commented on #34
This has been fixed. If you try again it should work.

[2020-03-14 06:58] #34 closed, assigned to nobody

[2020-03-14 08:06] brunofvalli commented on #32
Found how to replicate the issue.
Basically if you got an error message when creating the event and clicked the Save button the 2nd time it causes this issue. I have fixed it. It will be updated soon, and I will correct the records.

Going to leave the code update here for my future reference:

[code]

[2020-03-21 03:49] brunofvalli commented on #32
This has been fixed, fixes have been applied.

[2020-03-21 03:49] #32 closed, assigned to brunofvalli

[2020-04-17 21:31] cjgrimm1 opened #35 "XEHub Issues for Chapter # 69"
**What is the e-mail address you are using to login to xehub**
cjgrimm@mail.bradley.edu

**Describe the bug**
Whenever I try to invite the new initiates, I receive an error message telling me that there are unresolved issues with our chapter that need to be taken care of before I can invite people.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Members List
2. Click on Invite Member
3

[2020-04-21 20:37] johnbbeltran commented on #35
Hello,

I am having the same problem for the Arizona State Chapter #106.

E-mail: jbbeltra@asu.edu

Please let me know if there is any further information required.

Thank you,

John Patrick Beltran

[2020-04-26 00:29] brunofvalli commented on #35
Please contact national office. These types of blocks are due to not following Chi Epsilon regulation and not a technical issue. Sorry for the delay.

[2020-04-27 21:59] cjgrimm1 commented on #35
Could you provide an email for me?

On Sat, Apr 25, 2020 at 7:29 PM Bruno <notifications@github.com> wrote:

[2020-04-28 02:25] brunofvalli commented on #35
You can try Assistant@chi-epsilon.org or office.sec@chi-epsilon.org

[2020-05-05 02:31] tylermccormack opened #36 "Not letting me create event"
I am trying to input the new initiates so I can order their pins and certificates but it won't let create a new event. It will kick me back to the login screen. Once I log in, it keeps me on the login screen but does not change the functionality of my account. This began happening today. I did not experience these issues over the weekend.

[2020-05-05 03:30] brunofvalli commented on #36
What e-mail address are you using to login?

[2020-05-05 03:34] tylermccormack commented on #36
Mccort3@rpi.edu

[2020-05-05 04:22] brunofvalli commented on #36
Sorry forgot to add Full name, chapter name, and officer position.

[2020-05-05 04:26] brunofvalli commented on #36
You are no longer the Marshall your Officer term went from 5/4/2019 to 5/4/2020, but the date is on UTC, which is already 5/5/2020.

I have extended you to 5/10/2020. Please make sure to assign new officers for your Chapter.

[2020-05-05 04:26] #36 closed, assigned to nobody

[2020-05-05 04:27] #35 closed, assigned to nobody

[2020-05-05 17:59] tylermccormack commented on #36
Hi thanks for resolving that. Now I am trying to add two new initiates
to the event so I can send the list of materials to be purchased but I
am getting the attached error message when I try to edit the event.

Best,

Tyler

---
Rensselaer Polytechnic Institute
BS Civil Engineering 2020
(609)351-6937

On 2020-05-05 12:26 am, Bruno wrote:

[2020-05-08 03:18] tylermccormack opened #37 "Website error message when I try to edit initiation event"
**What is the e-mail address you are using to login to xehub**
mccort3@rpi.edu

**Describe the bug**
When I try to edit an event in the "taken attendance" status page it boots me to this error page and I cannot complete the action

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the events tab
2. Click on the "taken attendance tab"
3. Click on edit at the bottom of the screen
4. See err

[2020-05-08 03:47] brunofvalli commented on #37
Looking into this.

[2020-05-08 04:53] brunofvalli commented on #37
Just deployed version 1.16.20128.2335 of the application and have fixed this issue.
You should be able to edit the event now.

Thank you for letting me know of this issue and thank you for giving all the details I needed to fix it.

[2020-05-08 04:53] #37 closed, assigned to brunofvalli

[2020-05-08 18:52] tylermccormack opened #38 "How can I add members to an event?"
**What is the e-mail address you are using to login to xehub**
mccort3@rpi.edu
**Describe the bug**
Two new members are not in the induction event and I cannot add them. Because of this I cannot place the order for pins and certificates. (nicole run and melanie campazano incase you are able to add them in)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'events' tab
2. Click on edit
3.

[2020-05-08 23:45] haydenrandall opened #39 "Officers not showing up in Current List"
Hi Bruno,
I tried to move my self from Vice President to President today, and the Marshal to Vice President. Somehow I did something wrong with the two, and the records are not showing up under present or future. But I know they're in the system somewhere because I got the " After Event Order for Chapter 'New Mexico State University'" email after I submitted attendance for our initiation/officer i

[2020-05-11 03:21] brunofvalli commented on #39
Hello Hayden,

 Sorry for the confusion in the system. It should not allow you to add duplicate records, but I notice something went wrong.

 When you added the officers did you add them manually? Or did you use the "Import Officer" system?

I have removed the duplication and you should be fine now.

Please let me know. on how you added the officer so I can put a stop on duplication of records.

[2020-05-11 03:26] brunofvalli commented on #38
I cannot find a Nicole Run or Melanie Campazano in the system. Have you gone through the invitation process to invite them in (https://xehub.azurewebsites.net/MemberApplication/Invited)? Only paid candidates can be added to an event.
The candidate is automatically added to any open events.

[2020-05-11 03:53] haydenrandall commented on #39
I added the officers manually.

[2020-05-11 03:55] haydenrandall commented on #39
Thanks for fixing it!

[2020-05-11 14:28] tylermccormack commented on #36
Hi I haven't been able to complete the process yet because there have
been a number of bugs in the website that needed to be resolved. Could
you please extend me so I can place the order and change the officers.

Best,

Tyler

---
Rensselaer Polytechnic Institute
BS Civil Engineering 2020
(609)351-6937

On 2020-05-05 12:26 am, Bruno wrote:

[2020-05-12 01:53] brunofvalli commented on #36
You do know you can extend your own officer Date End by going to the officer screen. Please if you have new issues please create a new issue instead of updating this one.
If you are encountering bugs please report them so they can be fixed.

PS I have not received your attachment on your last entry also please create a new issue with this attachment.

[2020-05-12 14:29] tylermccormack commented on #38
It appears they are both in the system (see error4.jpg) but it will not
let me add them to the original event with all the other canidates (see
error3.jpg). I created the 12:15PM event in hopes that I would be able
to add everyone but it only let me add Nicole Rung and Melanie
Campozano. Could you please assist me in completing this so I can order
the pins and certificates for everyone ASAP.

Than

[2020-05-12 22:42] kmbyap opened #40 "Accidentally changed membership status to "unknown" and deleted initiation date"
kmyap@berkeley.edu
#007 - UC Berkeley

Hi, I accidentally changed the membership status of one of our members to "unknown" and deleted her initiation date.

One of our incoming officers, Candace Yee, could not log into XEHub. Looking into the issue, I discovered her profile was missing her email address. I added her email and I thought I just pressed save. However, I must have clicked something wr

[2020-05-13 02:18] brunofvalli commented on #40
What is the name of the member that was changed?

[2020-05-13 04:03] kmbyap commented on #40
Candace Yee

[2020-05-13 04:37] brunofvalli commented on #40
I have reverted your changes and will be investigate how you did this. Since in theory you should not have this power.

[2020-05-13 06:33] kmbyap commented on #40
Thank you!

[2020-05-13 06:33] #40 closed, assigned to brunofvalli

[2020-05-18 03:38] brunofvalli commented on #39
I have added system not to allow overlapping officers to be added. Thank you for letting me know.

[2020-05-18 03:38] #39 closed, assigned to brunofvalli

[2020-05-23 04:54] brunofvalli commented on #38
I noticed you have an event that was created in the past for 4/30/2020. You cannot change events in the task. You can now accept them into the system by saying they were present.

Perhaps I am not following what you are trying to do. I cannot see any of your screen shots. Please paste them strait into GitHub. Attached pictures in an e-mail does not get sent to me.

[2020-05-23 11:07] jllugo1 commented on #13
Good morning Bruno,

Hope all is well. My name is Jose Luis Lugo, president for Chi Epsilon Chapter at the University of Texas at El Paso. I have a similar issue as the one listed above. I am able to log into XE Hub. When logged in, the site text indicating I am a candidate for the membership and a tab "apply to a chapter" is displayed at the top. I have been a member since August 2019, and do not

[2020-05-25 03:54] brunofvalli commented on #13
@jllugo1
I have setup you to have an end date of 8/10/2020
![image](https://user-images.githubusercontent.com/5949285/82776701-6d15cf80-9e11-11ea-90a3-8bad6925ad2a.png)

Please go to here:
https://xehub.azurewebsites.net/Officer/Edit/73ab344e-9b0d-41c3-a9f5-4ee69864a3bb

And update the dates to the correct ones.

[2020-06-09 19:30] jllugo1 commented on #13
@brunofvalli
It displayed " Access Denied: You do not have rights to perform this action."

[2020-06-11 02:33] brunofvalli commented on #13
What date does your term ends?

[2020-06-17 04:30] brunofvalli commented on #13
I have added a new system, if no new officer is assign by the date your officer position expire your officer position will extend indefinitely until a new officer is assigned.

[2020-09-09 20:02] jonathan031796 commented on #13
I'm a officer in chapter 135 Texas A&M at Kingsville and it tells me to apply to a chapter but it doesn't let me

[2020-09-09 20:05] jonathan031796 commented on #13
@brunofvalli Hi Bruno, I have the same issue.

Name: Jonathan Gonzalez
Email Login: jonathan0317@yahoo.com
Other Email: jonathan.a.gonzalez@students.tamuk.edu
Officer Position: President
Chapter: Texas A&M Kingsville #135
Thank you

[2020-09-10 01:48] jllugo1 commented on #13
Good evening Bruno,

Hope all is well. My name is Jose Luis Lugo, current President for the Chi Epsilon student chapter(86) at the University of Texas at El Paso (UTEP). I am having trouble logging into my XEHub account. It shows that I have not been invited into the organization. I am wondering if you can help me gain access. I would like to initiate new members this semester, pay for the chapter

[2020-09-10 02:47] brunofvalli commented on #13
@jonathan031796 Please log off and log back in. You should be good after that.

[2020-09-10 02:57] brunofvalli commented on #13
@jllugo1 please log off and log back in.

[2020-09-10 03:08] jllugo1 commented on #13
Thank you! I have access to the website.

Best regards,

Jose

________________________________
From: Bruno <notifications@github.com>
Sent: Wednesday, September 9, 2020 8:57 PM
To: MBFVSolutionsLLC/ChiEpsilonMemberSupport <ChiEpsilonMemberSupport@noreply.github.com>
Cc: Lugo, Jose L <jllugo@miners.utep.edu>; Mention <mention@noreply.github.com>
Subject: Re: [MBFVSolutionsLLC/ChiEpsilonMemberSuppo

[2020-09-16 16:46] jllugo1 commented on #13
Good morning,

This is Jose Luis Lugo president for chapter 086, University of Texas at El Paso. I sent out invitations to new candidates, three members are having trouble accessing/creating the account. When they try to log in, it asks to verify their email, but no verification email was sent to them. I am wondering help me with this issue. The following are the members having problems verifying

[2020-09-17 17:12] ghost opened #41 "Candidate is not receiving confirmation email when creating an account on XEHUB"
My name is Ashley. I am the current president of chapter 121.
aspain@siue.edu

Southern Illinois University Edwardsville
Chapter number 121

I have an invited candidate who is not receiving her confirmation email after attempting to create an account. After looking through previous issue posts, I asked if she had checked her junk folder and she says she has. Is there any other solution to this iss

[2020-09-18 00:09] jonathan031796 commented on #13
Good evening,

This is Jonathan Gonzalez president for chapter 135, Texas A&M Kingsville. I'm trying to invite new candidates but this message is coming up.

"Cannot invite new candidate, Chapter is blocked. Reason 'Chapter #135 has unresolved XEHub issues. These must be cleared before you can initiate new members."

There are four members that im trying to invite,

Micaela A Plueger - email: mica

[2020-09-21 15:21] dianap100 commented on #41
Hello!
I am having a similar issue with two students. I was able to have HQ override this and move students along in the scheduling/ initiation process. But they still have not received email confirmation and thus are unable to access their account.
Yes they have checked their spam. I even showed them what the email confirmation would look like to no avail.

[2020-09-22 04:43] brunofvalli commented on #41
I am working on this issue and trying to find out what is going on.

[2020-09-29 14:47] adellamk opened #42 "Candidate batch rejected"
I uploaded a candidate batch using the template given over the weekend, but it was rejected. I do not understand why it was rejected or what I need to do differently.

[2020-10-04 23:43] brunofvalli opened #43 "Pictures"
![image](https://user-images.githubusercontent.com/5949285/95029930-76416380-0671-11eb-9b82-695bf7f3eced.png)

[2020-10-04 23:43] #43 closed, assigned to nobody

[2020-10-04 23:47] brunofvalli commented on #43
![image](https://user-images.githubusercontent.com/5949285/95030005-ff589a80-0671-11eb-81bd-8ccf00e06329.png)

[2020-10-04 23:48] brunofvalli commented on #43
![image](https://user-images.githubusercontent.com/5949285/95030037-2f07a280-0672-11eb-97f2-bba83536c840.png)

[2020-10-12 21:13] Rodrigo-Meirelles commented on #13
@brunofvalli Hello Bruno, I have the same issue and if you could help me fix it, it will be greatly appreciated.

Name: Rodrigo Meirelles van Vliet
Email Login: rmeirellesva2017@my.fit.edu
Other Email: rodrigo.van.vliet@gmail.com
Officer Position: Marshal
Chapter: Florida Institute of Technology, Chapter #112

Thank you very much, have a great start of your week.

[2020-10-14 02:36] brunofvalli commented on #13
@Rodrigo-Meirelles I cannot seem to find a record of your membership. Have you been made a member? Do you have an GRN or ICN?

@glenngoss I cannot find a record for Rodrigo, can you help me?

[2020-10-15 21:55] brunofvalli commented on #42
Hello Adella,

 Sorry for the huge delay. I did not notice this case.

 I see your uploads here:
![image](https://user-images.githubusercontent.com/5949285/96189859-eae48f80-0f06-11eb-96b3-6a8d355d4591.png)

 You should see this. By clicking on the Download 43 Rejected Record(s) it should give you an reason why the records were rejected:

![image](https://user-images.githubusercontent.com/5949285/

[2020-10-16 02:01] glenngoss commented on #13
what was the email address he used? .edu ?

[2020-10-16 03:32] brunofvalli commented on #43
![image](https://user-images.githubusercontent.com/5949285/96209876-49753200-0f36-11eb-984c-022fea304c12.png)

[2020-10-16 03:48] Rodrigo-Meirelles commented on #13
It is rmeirellesva2017@my.fit.edu
When I log in to my account a message is displayed as: “initiation
scheduled” and I cannot do anything else in the system.

Thank you once again,
Rodrigo

[2020-10-16 15:08] glenngoss commented on #13
thanks,this gives me a place to start.
G

Sent from AT&T Yahoo Mail on Android

  On Thu, Oct 15, 2020 at 10:50 PM, Rodrigo-Meirelles<notifications@github.com> wrote:

It is rmeirellesva2017@my.fit.edu
When I log in to my account a message is displayed as: “initiation
scheduled” and I cannot do anything else in the system.

Thank you once again,
Rodrigo

On Thu, Oct 15, 2020 at 10:02 PM Glenn C Go

[2020-10-16 16:12] Rodrigo-Meirelles commented on #13
I just logged in and now I have full access. Thank you!

*Rodrigo Meirelles van Vliet*
Florida Institute of Technology
Class of 2021

+1(321)310-7346
Melbourne, FL

On Fri, Oct 16, 2020 at 11:09 AM Glenn C Goss <notifications@github.com>
wrote:

[2020-10-17 03:59] brunofvalli commented on #42
We have fixed this.
Your excel spreadsheet has already been uploaded and in theory your candidates should have received e-mails.

[2020-10-17 03:59] #42 closed, assigned to nobody

[2020-10-17 04:06] brunofvalli commented on #41
Sorry for the delay. We have been sending e-mails from another e-mail address and this should have this issue. Please let me know if you still have this issue.

[2020-10-17 04:06] #41 closed, assigned to brunofvalli

[2020-10-21 12:03] #13 closed, assigned to brunofvalli

[2020-10-22 23:16] glenn-goss opened #44 "Chapter officers can't sort in Officer list"
I'll add more tomorrow morning

[2020-10-24 22:53] haydenrandall opened #45 "How long should processing take?"
I uploaded a list of 28 candidates using the candidates batch tool. How long should processing take?

[2020-10-27 18:35] haydenrandall commented on #45
I uploaded the wrong file (without candidates) and corrected it yesterday. Received confirmation of processing today.

[2020-10-27 18:35] #45 closed, assigned to nobody

[2020-11-19 22:50] calfome opened #46 "I can't schedule an event for a members"
**What is the e-mail address you are using to login to xehub**
calfome@mail.uc.edu

**What is your chapter number and name**
University of Cincinnati Chapter 34

**Describe the bug**
I am unable to schedule a member for our initiation meeting

**To Reproduce**
Steps to reproduce the behavior:
1.  I was unable to add two members to an initiation event happening on 11/19 and now they were added to a

[2020-11-20 06:08] brunofvalli commented on #46
If you go to this page:
https://xehub.azurewebsites.net/Event/Scheduled/1b3186c7-9c17-41b3-86c7-f3d06c2cdf04

Go to the bottom and you need to approve the EventGroup

![image](https://user-images.githubusercontent.com/5949285/99765323-703dff80-2ac4-11eb-833a-b7bdc2060345.png)

Click on "OfficerApproved" so you can get the EventGroup done. And the whole path must be done All to way to close "Event

[2020-12-03 16:15] vedranakrstic opened #47 "Can't extend term for existing Trustees"
Tried to extend the term of a few existing Trustees and received the following message:
Another 'Trustee' (Santullo, Lauren Marie) for chapter 'College of New Jersey' with overlapping term of 11/23/2019 to 12/31/2021 already exist. There cannot be overlapping terms.

Vedrana Krstic, FA
TCNJ 143

[2020-12-04 19:18] gnegym opened #48 "Question about Resetting Password"
One of the initiates from our chapter is trying to reset their password after they forgot it but can't find the email in their inbox or spam folder to reset. Any advice for how to reset the password - should I reinvite the person using a different email address so that they can make an account? Thanks

[2020-12-05 05:04] brunofvalli commented on #48
What is the e-mail address of the person in question?

[2020-12-05 05:17] brunofvalli commented on #47
I noticed the record has been changed.
Is this still a problem.
![image](https://user-images.githubusercontent.com/5949285/101234574-3ead6280-3686-11eb-9040-ea0f9b029b50.png)

[2020-12-05 05:19] brunofvalli commented on #44
No more details given closing

[2020-12-05 05:19] #44 closed, assigned to nobody

[2020-12-05 05:20] #38 closed, assigned to brunofvalli

[2020-12-05 13:36] vedranakrstic commented on #47
No, that was not the record I tried to revise. That was the record in
conflict with the three I wanted to extend: Peter Johnson, Leon Collis and
Kimberly Dana. For all three of them I received the same error message.

--
Vedrana Krstic, PhD, PE
Associate Professor
Department of Civil Engineering
The College of New Jersey
Armstrong 177
609-771-2926

On Sat, Dec 5, 2020 at 12:17 AM Bruno <notificati

[2020-12-07 04:12] brunofvalli commented on #47
This has been fixed the software and have update the records for you:
![image](https://user-images.githubusercontent.com/5949285/101308712-20736e00-3810-11eb-998a-91564b7e9071.png)

[2020-12-07 04:12] #47 closed, assigned to brunofvalli

[2020-12-07 14:06] vedranakrstic opened #49 "Can't take event attendance"
We are trying to take the attendance for the induction event held on 12/5/20 and are receiving an error message that reads:
"Cannot take attendance Event groups have not been all closed. Please close event groups."
Event groups list shows the event stuck at the advisor approval and we can't get past that step.

![em](https://user-images.githubusercontent.com/57674564/101359905-e4b9c200-386a-11eb-8

[2020-12-07 19:42] gnegym commented on #48
monicag@vt.edu

[2020-12-11 01:34] hunterklly opened #50 "Trouble Canceling/Deleting an Event"
kellyh3@tcnj.edu

The College of New Jersey, Chapter 143

We accidentally created a second event and we are not able to delete or cancel the event.

[2020-12-11 01:59] brunofvalli commented on #50
Is this the event in question?
https://xehub.azurewebsites.net/Event/AttendanceTaken/317f6f93-5cb5-4187-a4ab-26b023df8ea5

[2021-01-06 19:31] candaceyee opened #51 "Issues with XEHub"
Hello,

I'm having two issues with XE Hub.

1. There is a member who I invited earlier in November and he has accepted the invitation on XE Hub multiple times. However he never showed up on the "member accepted invitation" list, and now he is on the rejected candidate list, but he should be accepted and approved. Is there a way I can fix this?
2. Our initiation occurred on Dec. 10, 2020, and when

[2021-01-06 21:07] brunofvalli commented on #51
Hello Candace,

 On issue 1 could you give me examples of applicants? I would need names.

God bless,
Bruno
MBFVSolutions, LLC

[2021-01-06 21:10] brunofvalli commented on #51
Candace, also I need to know what Chapter you are part of and your e-mail address.

[2021-01-06 21:12] brunofvalli commented on #49
In order to finish a event you must have your advisor approve the Event Group. If you don't have an advisor, please contact ChiEpsilon headquarters.

[2021-01-06 21:41] candaceyee commented on #51
Hi,

I am part of the UC Berkeley chapter (007) and my email is
candaceyee@berkeley.edu

Thanks!
Candace Yee

On Wed, Jan 6, 2021 at 1:10 PM Bruno <notifications@github.com> wrote:

--
Class of 2021

[2021-01-06 22:10] brunofvalli commented on #51
Hello Candace,

 What are the candidates with issue? What are their names? And they have accepted the invitation, but it does not show up to you, correct?

[2021-01-06 22:16] candaceyee commented on #51
Hi,

The candidate's name is Aaron Isaac Machuca, and he's currently listed
under the "rejected" candidates, but I'd like him to be under the
invitation accepted so I can move him to the "scheduled" section of XE Hub.
He is the only candidate I am having a problem with on XE Hub, and he has
accepted his invitation multiple times, but never showed up under "accepted
invitation".

Candace Yee

On We

[2021-01-07 03:35] brunofvalli commented on #51
I am looking into this.

[2021-01-07 05:40] brunofvalli commented on #51
To fix this I went to "Candidates (Rejected)"
![image](https://user-images.githubusercontent.com/5949285/103855263-eea43000-5077-11eb-8154-67b92f24d7b0.png)

Filtered for Aaron's name and clicked on the "Invite" button
![image](https://user-images.githubusercontent.com/5949285/103855322-13000c80-5078-11eb-974b-93beb69839dc.png)

On the top of the screen pressed on "ReInvite"
![image](https://user-

[2021-01-07 05:46] brunofvalli commented on #51
On your second question (for future reference please create one question per issue :) )

I don't see any events with a date of 12/10/2020 for your Chapter the last Event I see for Chapter Number 7 is on 12/9/2019

![image](https://user-images.githubusercontent.com/5949285/103855907-442d0c80-5079-11eb-8b11-9ca88316c3e4.png)

When you are at any screen on the system the address on the address bar is

[2021-01-07 20:27] candaceyee commented on #51
Hi Bruno,

Thanks so much for the help. For some reason I can't find the event either,
but I know I created it. When I tried to recreate the event on 12/10/2020
at 8:00 pm, it throws an error and says that it is a duplicate event. As
for the first issue I had, I'm asking Aaron to accept the invitation, but I
might run into the same problem as earlier (where he kept accepting the
invitation but he

[2021-01-07 22:01] candaceyee commented on #51
Hi Bruno,

Aaron just accepted his invitation, and he's still not under "Invitation
Accepted". Are there files he's missing? I'm not sure why the system isn't
working for him.

Thanks for all the help,
Candace Yee

On Thu, Jan 7, 2021 at 12:27 PM Candace Yee <candaceyee@berkeley.edu> wrote:

--
Class of 2021

[2021-01-08 04:10] brunofvalli commented on #51
Please send these instructions to Aaron.

When login you should see this screen:
![image](https://user-images.githubusercontent.com/5949285/103973339-d0503a00-5134-11eb-9741-e842a08c129e.png)

Clicking on "Submit". Then you should see this screen:
![image](https://user-images.githubusercontent.com/5949285/103973368-e65dfa80-5134-11eb-92d3-d165c4d57840.png)

Clicking on "Submit" yet again. Then you

[2021-01-08 05:24] brunofvalli commented on #51
Found your missing Event. For some reason, still under investigation this event got setup with an unknown state.
I have reverted to scheduled. You still need to finish the Event Groups at the bottom of the following link. Once that is done you can take attendance:
https://xehub.azurewebsites.net/Event/Scheduled/3c02a49a-2369-4e97-a295-d77bdb256184

[2021-01-26 00:14] candaceyee commented on #51
Hi Bruno,

Thanks for all the help. I approved the event, and I'm waiting for my
faculty advisor to approve it. I had one more question pertaining to the
event: I'm trying to add Aaron Machuca as a guest to this event, but when I
try to schedule him through XE Hub, I can't find the event I created for
12/10/2020.

Thanks!
Candace Yee

On Thu, Jan 7, 2021 at 9:24 PM Bruno <notifications@github.com>

[2021-01-26 05:47] brunofvalli commented on #51
Please try again it should work:
https://xehub.azurewebsites.net/MemberApplication/Scheduled/9104a7cc-71f1-4898-8188-ea96a5bdc837

[2021-01-27 19:49] candaceyee commented on #51
When I try to select an event to assign to Aaron, it only shows this future
initiation in March rather than the one from 12/10/2020.

Thanks,
Candace Yee

On Mon, Jan 25, 2021 at 9:47 PM Bruno <notifications@github.com> wrote:

--
Class of 2021

[2021-01-28 01:31] dianap100 opened #52 "expected graduation input?"
Not so much an issue, but think it would be great to be able to see what students are graduating when on XE hub. When students input their information upon joining XEHub there should be an option to see expected graduation. Officer may like to know that information

[2021-01-28 02:40] brunofvalli commented on #51
I found this one:
![image](https://user-images.githubusercontent.com/5949285/106082206-e15eec00-60df-11eb-86d1-e2bd08176674.png)

You can go to it by going here:
https://xehub.azurewebsites.net/Event/Edit/3C02A49A-2369-4E97-A295-D77BDB256184

[2021-02-03 06:10] brunofvalli commented on #52
Could you let me know what screen do you think that would be a helpful feature for you?

Thank you.

[2021-02-03 06:10] #50 closed, assigned to brunofvalli

[2021-02-03 18:41] gnegym commented on #48
Hi Bruno - just wanted to follow up on this issue and wanted to know if there was any progress. As far as I know, I am unable to submit our chapter order for certificates/keys until this initiate is in the system. Thank you again!

[2021-02-17 17:33] SRhatican opened #53 "Deleting an unwanted event"
**What is the e-mail address you are using to login to xehub**
rhatics1@tcnj.edu

**What is your chapter number and name**
The College of New Jersey Chapter 143

**Describe the bug**
Our prior executive board created an induction event scheduled for 12/5/2020 by mistake. We are unable to delete this event and would like to know how to.

**To reproduce**
The event in question can be found normally

[2021-02-19 02:34] SRhatican opened #54 "Member Import Rejection"
**What is the e-mail address you are using to login to xehub**
rhatics1@tcnj.edu

**What is your chapter number and name**
The College of New Jersey Chapter 143

**Describe the bug**
Both the chapter's president and I (vice president) have attempted to add our chapter's pledges as eligible members, but our uploads have been rejected. An error message on the page will appear saying "you have no rig

[2021-02-19 05:57] trast1999 opened #55 "I am having the same issue as the person in the screenshot"
**What is the e-mail address you are using to login to xehub**
traste@uwplatt.edu

**What is your chapter number and name**
UW-Platteville 077

**Describe the bug**
I get an error message when I try to add a new eligible member. I have the same issue as the person in the screenshot

**To Reproduce**
Steps to reproduce the behavior:
Clicking on Eligible Member

**Expected behavior**
I get an error

[2021-02-24 01:30] brunofvalli commented on #55
Sorry for the delay. This should be fixed now. Please try again.

[2021-02-24 01:30] #55 closed, assigned to nobody

[2021-02-24 01:31] brunofvalli commented on #54
This has been fixed now.
Please try again.

[2021-02-24 01:31] #54 closed, assigned to nobody

[2021-02-24 01:31] brunofvalli commented on #52
I have not heard back from you. I am closing this issue.

[2021-02-24 01:31] #52 closed, assigned to brunofvalli

[2021-02-24 01:31] #51 closed, assigned to brunofvalli

[2021-02-24 01:32] #49 closed, assigned to nobody

[2021-02-24 02:38] brunofvalli commented on #48
Sorry for the huge delay!
I see that monicag@vt.edu has not logged into the system.
The system said all to way back in 12/2/2021 that Monica had not clicked on the confirmation e-mail that was sent to her. I have removed her account, she should be able to register again with a new password.

[2021-02-24 02:38] #48 closed, assigned to brunofvalli

[2021-02-24 02:38] #46 closed, assigned to brunofvalli

[2021-04-08 20:06] tmpopraw opened #56 "Member cannot move from 'invited' to 'invitation accepted'"
**What is the e-mail address you are using to login to xehub**
tmpopraw@mtu.edu

**What is your chapter number and name**
Chapter #21 - Michigan Technological University

**Describe the bug**
A new member, Taylor D. Stewart, is correctly entering his information and clicking submit, but his member profile will not advance from the 'Invited' tab to the 'Invitation Accepted' tab. If someone could ma

[2021-04-09 01:12] brunofvalli commented on #56
Found the issue.
There are two accounts for the given user.
I have merged the accounts.
Please request user to logoff and login and accept the invitation.

[2021-04-09 01:12] #56 closed, assigned to brunofvalli

[2021-04-09 03:05] T-D-Stewart opened #57 "Cannot move from 'invited' to 'invitation accepted'"
What is the e-mail address you are using to login to xehub
taylors@mtu.edu

What is your chapter number and name
Chapter #21 - Michigan Technological University

Describe the bug
I have logged into my account following the emailed link, logged in, but do not see an 'accept invitation' option.

To Reproduce
Steps to reproduce the behavior:

Member receives invitation email and click the link within

[2021-04-09 18:54] tmpopraw commented on #56
He is accepting the invitation, but it is still not moving him from 'invited' to 'invitation accepted'. Is there a way you can manually move him if this can't be fixed?

[2021-04-13 18:41] #57 closed, assigned to nobody

[2021-05-10 02:28] SRhatican opened #58 "Unable to take attendance"
**What is the e-mail address you are using to login to xehub**
rhatics1@tcnj.edu

**What is your chapter number and name**
The College of New Jersey Chapter 143

**Describe the bug**
We are unable to take attendance for our induction event. All inductees were present.

**To reproduce**
The event in question can be found normally under the event group tab. Our faculty advisor is unable to take atte

[2021-05-10 23:16] brunofvalli commented on #58
I am assuming this is the event your are referencing:
https://xehub.azurewebsites.net/Event/Scheduled/7e670f45-1a9b-446f-af8c-6b6bb1c7504f

Are you getting these messages when you open your event?
![image](https://user-images.githubusercontent.com/5949285/117735768-c100fc00-b1bb-11eb-9ebd-feba152fb179.png)

The message above means the National Officer has not approved this event. You can check thi

[2021-05-10 23:18] brunofvalli commented on #53
I have delete the event for you

[2021-05-10 23:18] #53 closed, assigned to nobody

[2021-05-11 20:44] TuckKau opened #59 "Eligible student cannot access the invitation to accept"
**What is the e-mail address you are using to login to xehub**
kaus@pdx.edu

**What is your chapter number and name**
Portland State University Chapter #131

**Describe the bug**
One student who wants to become a XE member is having trouble accessing the invitation to join. Her name is Ashley N Arries. When she clicks on the link to the application, she is being brought to the XEHUB Home Page inst

[2021-05-15 06:05] brunofvalli commented on #59
Ashley has already registered using the link.
The e-mailed link can only be used once.

I have changed the application to give a better error message when she attempts to use the link.

She should get this message now:
![image](https://user-images.githubusercontent.com/5949285/118349940-6a782280-b519-11eb-8187-a02c7cad0697.png)

You can try this link that was sent to her on the last e-mail message

[2021-05-16 22:04] TuckKau commented on #59
So it looks like that didn't solve the issue. The XEHUB already recognizes that she is in the system, which doesn't make sense because she never was directed to the text window (shown in my first post) in any of the invitations I either sent or resent to her. Every invite link she clicked on directed her to the XEHUB Log in screen, which shouldn't happen because according to my XEHUB, she is not s

[2021-05-16 22:39] brunofvalli commented on #59
The problem is she has registered, but she never logged in. I can reset her account and she would get an invitation link again. I am going to do that instead. I will let you know once I do.

[2021-05-16 22:55] brunofvalli commented on #59
I have deleted her registration and re-invited her. It should work now.
She should have received another invitation.

[2021-05-17 16:57] TuckKau commented on #59
So she tried clicking on the new link that you sent her and it still directed her to the login page with the error message that you previously mentioned. For some reason even though you deleted her registration, she is still not being directed to the text window that everyone else is usually immediately directed to.

[2021-05-17 20:03] kaylorrain opened #60 "Correcting Officer Terms"
I am trying to enter new officers, but the system will not let me because their terms overlap with those of the currently listed officers. I don't know how to change the terms of the current officers. When we entered the officers, we did not know exactly when their terms would end.
How can I correct the officers' terms, so that I can add the new officers?

[2021-05-17 20:08] kaylorrain commented on #60
Never mind. I figured it out. Little pencil icon for editing.

[2021-05-18 04:19] #60 closed, assigned to nobody

[2021-05-19 03:53] brunofvalli commented on #59
Ok, now I see what I messed up there. It would work now. Please ask her to try again.

[2021-05-19 16:34] TuckKau commented on #59
It worked! She is now in the 'Officer Approved' tab. Thank you so much for your help.

[2021-05-19 16:35] #59 closed, assigned to nobody

[2021-06-30 04:22] brunofvalli commented on #58
I am assuming my last response fixed your issue, I am closing this issue.

[2021-06-30 04:22] #58 closed, assigned to nobody

[2021-08-30 19:03] briantag10 opened #61 "Need to be given access to the chapter page"
Hello! I am the new Chi Ep president for the chapter at Stevens Institute of Technology.

I would like to be admitted into the chapter on the chi ep website and given officer power so I can add our new members.

Please get back to me as soon as possible!

[2021-08-31 03:25] brunofvalli commented on #61
Please I need your complete name and your e-mail address.

Do you have any proof you have been made president?

[2021-08-31 04:53] briantag10 commented on #61
Brian Taglialavore
***@***.***

See attached for Proof.[Image.jpeg]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bruno ***@***.***>
Sent: Monday, August 30, 2021 11:25:14 PM
To: MBFVSolutionsLLC/ChiEpsilonMemberSupport ***@***.***>
Cc: Brian Taglialavore ***@***.***>; Author ***@***.***>
Subject: Re: [MBFVSolutionsLLC/ChiEpsilonMemberSupport] Need to be given

[2021-08-31 13:28] briantag10 commented on #61
btaglial@stevens.edu

[2021-09-20 22:44] briantag10 opened #62 "I can not Approve Officers that have been Invited"

[2021-09-21 03:39] brunofvalli commented on #62
@briantag10
What email are you using to login to the xehub system?

Do you mean you are trying to approve Members? What members in specific are you trying to approve (first last name)?

If you mean Officers what are you trying to do?

[2021-09-21 14:28] briantag10 commented on #62
For example, Christopher Musante. The list that he’s a part of needs to move forward entirely and I am unable to do so
________________________________
From: Bruno ***@***.***>
Sent: Monday, September 20, 2021 11:39:19 PM
To: MBFVSolutionsLLC/ChiEpsilonMemberSupport ***@***.***>
Cc: Brian Taglialavore ***@***.***>; Mention ***@***.***>
Subject: Re: [MBFVSolutionsLLC/ChiEpsilonMemberSupport] I can

[2021-09-22 04:50] brunofvalli commented on #62
Are you getting a message when you click on "Approve" here?

https://xehub.azurewebsites.net/MemberApplication/OfficerApproved/ef5f7ceb-d63c-43c6-8767-113dc33c01f6

![image](https://user-images.githubusercontent.com/5949285/134285269-bfa9d88c-aa1e-48a3-9cac-fd7e92054869.png)

[2021-09-22 17:25] briantag10 commented on #62
I get an error in the top right corner, "Membership type must be selected" But I can't change it from "Non-member"

[2021-09-23 04:04] brunofvalli commented on #62
I believe I have fixed the issue. See if you can go [here](https://xehub.azurewebsites.net/Member/Edit/ef5f7ceb-d63c-43c6-8767-113dc33c01f6) and change his Membership Type

[2021-09-25 14:02] SRhatican opened #63 "Four students cannot accept pledge invitation"
Hello,

On Wednesday, September 22nd, The College of New Jersey's Chi Epsilon chapter invited seven students to pledge. All seven payed, were input into the system and had the invitation emails sent out to them. Four of these students, Hayley Conway, Jack Lacina, Connor Conyngham and Anthony Cooper have been unable to open the link provided in the invitation email. Whenever they clicked on the lin

[2021-09-27 04:00] brunofvalli commented on #63
Copying and pasting the link into Chrome should solve their issue.
Could you forward me the e-mail these students are receiving from the system?
I have gotten the e-mail sent to Hayley and the link seems to work fine.
Could you please answer the following questions:
- What OS is any of these users using (Windows 10, iPhone, OSX, Android, ChromeOS)?
- What application are they using to check their

[2021-09-27 14:47] briantag10 commented on #62
How can I change this membership type?

[2021-09-29 04:12] brunofvalli commented on #62
If you go to edit the Member you should be able to click on the "Membership Type"

![image](https://user-images.githubusercontent.com/5949285/135201965-388b441d-e081-45b2-9eab-794b17985b2f.png)

Are you able to go to this link and check if you have the access?
https://xehub.azurewebsites.net/Member/Edit/ef5f7ceb-d63c-43c6-8767-113dc33c01f6

[2021-09-29 04:14] brunofvalli commented on #63
I need more information to be able to help you. Please answer the questions above.

[2021-09-29 15:47] SRhatican commented on #63
Hello Bruno! My apologies for the late response. We were able to get three of the four to accept the invitation using my computer but the fourth, Connor Conyngham, still wasn't able to accept the invitation. He said that he had previously attempted to accept the invitation and had filled it out, but it's not showing up for us. I was wondering if you would be able to check the status of Connor's in

[2021-09-29 18:54] briantag10 commented on #62
I cannot change Gerard's Membership Type from "Non Member".

This is the error that I keep getting

[2021-09-30 16:16] brunofvalli commented on #62
I cannot see the screen shot you are pasting into the e-mail.

You are responding back using e-mail sent to you. Please login to GitHub, there should be a link at the end of this e-mail.

It should look like:
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-10-08 21:13] iacorda opened #64 "I cannot approve invitations/reject invitations"
**What is the e-mail address you are using to login to xehub**
iacorda@hawaii.edu

**What is your chapter number and name**
49
**Describe the bug**
I am the Secretary and am currently having issues with XEHub where I cannot approve accepted invitations from new pledges even though I am an officer.

I have attached a screenshot below of the issue I am currently experiencing. Membership Type has som

[2021-10-13 02:22] gerardoreyes98 opened #65 "Need to be given access to the chapter page"
**What is the e-mail address you are using to login to xehub**
gerardo.reyes@students.tamuk.edu

**What is your chapter number and name**
Chapter #135, Texas A&M University - Kingsville.

**Additional context**
Last semester I was elected as the new president for my chapter for this school year. Due to COVID we didn't have any face to face meetings and there was no communication between past offic

[2021-10-18 22:43] #64 closed, assigned to nobody

[2021-11-03 18:12] gnegym opened #66 "Password Reset"
Email: gnegym@vt.edu
Chapter: Virginia Tech #018

One of my initiates (stevenfm@vt.edu) is unable to log-in to the system. He tried logging in on his phone which created an issue that caused him to be unable to log-in on his computer. He tried to reset his password but never received an email so I believe his profile will need to be deleted so that I can re-invite him.

Let me know if you need mor

[2021-11-03 18:19] gnegym opened #67 "Change Member Status from NonMember"
Email: gnegym@vt.edu
Chapter: Virginia Tech #018

I batch uploaded this semester's initiates and it set everyone's member status to "NonMember" but I am unable to change it to "Undergraduate" and therefore the system will not let me approve any of them.

Steps to reproduce the behavior:
1. Go to "Member" >> "Candidate" >> "Invitation Accepted"
2. Click on any of the initiates who have accepted the

[2021-11-05 04:43] brunofvalli commented on #67
I found 4 members
https://xehub.azurewebsites.net/MemberApplication?status=InvitationAccepted
I have reset them to Ungraduates for right now and will look into fixing the edit issue.

[2021-11-05 04:49] brunofvalli commented on #66
I found stevenfm@vt.edu information at
https://xehub.azurewebsites.net/Person/Detail/7cc32abe-fddb-4d25-a969-d4e2e16ccb6b
Please ask Steven Frank Manolios to re-register and the account should lock in with his internal record.

![image](https://user-images.githubusercontent.com/5949285/140459841-55253539-2352-448a-a6de-de7a35044126.png)

[2021-11-05 04:52] brunofvalli commented on #65
I found a record showing your are the current President.
Someone must have helped you already.
Closing the issue.

[2021-11-05 04:52] #65 closed, assigned to brunofvalli

[2021-11-05 17:05] gnegym commented on #67
Great, thank you! I was able to get those 4 into the system. I have 8 more initiates (waiting for them to accept the invitation) that will also need changed once they accept.

[2021-11-06 05:41] brunofvalli commented on #67
I have fixed the issue that was causing the Non-Member type. You should not  see these issue anymore.
I have updated all the Non-Member to be Undergraduate.

[2021-11-09 04:44] brunofvalli commented on #63
Sorry for my long delay.

I see you have Connor schedule for initiation on 12/11/2021

https://xehub.azurewebsites.net/Event/Scheduled/609be0b5-c0cc-455f-ad6d-bc94075b723f

Is that correct, so I assume you got it all resolved.

I am closing this issue.

[2021-11-09 04:44] #63 closed, assigned to brunofvalli

[2021-11-09 04:45] brunofvalli commented on #6
I think we can close this for now.

[2021-11-09 04:45] #6 closed, assigned to brunofvalli

[2021-11-09 04:48] brunofvalli commented on #61
You are already the president. I am closing this old issue.

[2021-11-09 04:48] #61 closed, assigned to brunofvalli

[2021-11-09 04:48] brunofvalli commented on #62
This issue has been fixed under ticket #67

[2021-11-09 04:48] #62 closed, assigned to brunofvalli

[2021-11-09 04:50] brunofvalli commented on #66
I am closing this issue assuming this has been fixed.
I noticed user has not confirmed e-mail yet.

It could mean user is getting e-mail routed to it's spam mailbox.

[2021-11-09 04:51] brunofvalli commented on #67
Closing this issue since the latest fix should have fixed this once and for all.

[2021-11-09 04:51] #67 closed, assigned to brunofvalli

[2021-11-09 04:52] brunofvalli commented on #66
Please let me know if you have any more issues.

[2021-11-09 04:52] #66 closed, assigned to brunofvalli

[2021-11-18 04:27] brunofvalli opened #68 "[Chi Epsilon] delete InvitationRejected person"
On Wed, Nov 17, 2021 at 10:50 AM Scott Harvey <p.scott.harvey@gmail.com> wrote:
Hello Bruno,

We're in the process of inviting our eligible candidates this year, and we've run into the attached problem. One of the students was invited last year, didn't accept the invitation, so was rejected from the system, but is now in limbo and can't be re-invited. Can you delete this student (Narayanan, Mahaal

[2021-11-18 05:12] brunofvalli commented on #68
Hello Doctor Harvey,
 I have re added Mahaalakshmi back to the invited state: https://xehub.azurewebsites.net/MemberApplication/Invited/2e06d575-898a-4738-a9e9-894a12fdd5cf

 I was able to do that by going to Candidates (Rejected)

![image](https://user-images.githubusercontent.com/5949285/142355892-772c3e05-1c83-48d5-9d76-229a1281244f.png)

Looking for Mahaalakshmi and clicking on "Reinvite"
The

[2021-11-26 23:18] algold2 opened #69 "Cannot delete an officer from list"
**What is the e-mail address you are using to login to xehub**
algold2@uky.edu

**What is your chapter number and name**
58 University of Kentucky UKXE
**Describe the bug**
I accidentally entered someone as the wrong officer and so I want to delete them. When I go to delete the entry I am redirected to a login screen. Using the credentials I always use to log in to XEhub I click "log in" and then

[2021-11-30 05:02] brunofvalli commented on #68
I assume all is well.
I am closing this issue.

[2021-11-30 05:02] #68 closed, assigned to brunofvalli

[2021-11-30 05:51] brunofvalli commented on #69
I have fixed this where an officer can now delete other officers. Before only system administrator could delete an officer.

Please let me know if you have any more issues.

[2021-11-30 06:10] algold2 commented on #69
Thank you!

[2021-12-01 04:26] brunofvalli commented on #69
you are welcome.

[2021-12-01 04:26] #69 closed, assigned to brunofvalli

[2021-12-13 23:15] kaylorrain opened #70 "Faculty Adviser approval"
How do I provide faculty adviser approval to an event?

[2021-12-13 23:21] brunofvalli commented on #70
Normally when you login to the first page it should have a list of items pending your approval here:

![image](https://user-images.githubusercontent.com/5949285/145904610-fcc4857f-d8f0-4392-a557-ee620e714d0a.png)

Clicking on the **Go** button should take you to the approval page.

[2021-12-13 23:27] kaylorrain commented on #70
Oh.
OK, I tried that, and it took me to last year's initiation.
But the strange thing is, we already received an invoice for our 12/2/2021
event. How was that possible if it wasn't approved yet?

How are you, Bruno?
It's been a long time since we saw each other in Arlington.   Kaye Brubaker

On Mon, Dec 13, 2021 at 6:21 PM Bruno ***@***.***> wrote:

[2021-12-14 01:42] brunofvalli commented on #70
Sometimes HQ will jump in and approve the ticket, since the Chapter might be waiting for it. If you give me the url of the event I can check what went on.

I am doing Amazing as always :) It has been a long while, this whole COVID thing really messed up the whole human contact thing :)

[2021-12-14 02:10] kaylorrain commented on #70
I found this:
https://xehub.azurewebsites.net/Event/Scheduled/d2be32a5-34ca-425b-af87-d9f295388353

It says "Waiting Faculty Adviser Approval," but it did not appear on my
home page to-do list....

Kaye

On Mon, Dec 13, 2021 at 8:42 PM Bruno ***@***.***> wrote:

[2021-12-15 14:55] kaylorrain commented on #70
Good morning, I am going to copy/paste below a message of frustration that
I received from my chapter this morning. Is there anyone they could speak
to directly? Thanks! Kaye

Hi Dr. B,

This website is quite confusing for no reason... I'm sorry you have to deal
with it. I see that last December's event was approved; however, the
December 2021 event (event group A) is still "Waiting Faculty Approv

[2021-12-15 15:26] brunofvalli commented on #70
I have not received any of the pictures.
Could you please add them?

[2021-12-15 15:39] kaylorrain commented on #70
It might be easier for me to just forward their email (instead of
copy-paste) is this the address I should forward to:
***@***.***

Kaye

On Wed, Dec 15, 2021 at 10:27 AM Bruno ***@***.***> wrote:

[2021-12-15 15:51] brunofvalli commented on #70
GitHub remove; any e-mail addresses. I did not get what you just sent me.

[2021-12-15 16:19] kaylorrain commented on #70
OK. I'm printing their email to a PDF and attaching it.
Thanks for your help!
Kaye

On Wed, Dec 15, 2021 at 10:51 AM Bruno ***@***.***> wrote:

[2021-12-15 18:23] brunofvalli commented on #70
Please login to github and post directly. GitHub takes out pictures and attachments.
https://github.com/MBFVSolutionsLLC/ChiEpsilonMemberSupport/issues/70

[2021-12-15 19:59] kaylorrain commented on #70
I am now in GitHub comments area and will try to include the PDF.
[JillianEmailAboutHub.pdf](https://github.com/MBFVSolutionsLLC/ChiEpsilonMemberSupport/files/7722332/JillianEmailAboutHub.pdf)

[2021-12-20 04:41] SRhatican opened #71 "Honor Member Induction Attendance"
**What is the e-mail address you are using to login to xehub**
rhatics1@tcnj.edu

**What is your chapter number and name**
Chapter 142 - The College of New Jersey

**Describe the bug**
Our newly inducted chapter honor member, Joseph Ettore, does not appear on XEHub, so we can't log his attendance at our induction ceremony which occurred on December 11th.

**To Reproduce**
Steps to reproduce the be

[2021-12-21 06:30] brunofvalli commented on #71
It seems the HQ administrator has already initiated this honor member. You don't need to worry about it:

Bellow is Joseph's member log.

![image](https://user-images.githubusercontent.com/5949285/146882411-7e3b0cfc-c352-4cd2-a4d3-6cdf6cafdf98.png)

[2021-12-21 06:30] #71 closed, assigned to brunofvalli

[2021-12-23 06:00] brunofvalli commented on #70
I see the event in question has already been closed.

So I don't think this is an issue anymore. Closing the issue.

[2021-12-23 06:00] #70 closed, assigned to brunofvalli

[2021-12-26 19:06] mphung3 opened #72 "Issue adding officer"
**What is the e-mail address you are using to login to xehub**
mphung3@uci.edu

**What is your chapter number and name**
Chapter 108 - University of California, Irvine

**Describe the bug**
I am unable to add officers because the website states that there is no active membership found for the chapter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Officer'
2. Click on 'Officer List'

[2022-01-06 15:05] algold2 opened #73 "Cannot approve Candidate"
Hello,

I am currently trying to approve a candidate but there is an error message that I have to change the membership type from non member but I cannot do this. I want to change it to undergraduate.

Thank you,
Ariel

[2022-01-08 20:21] algold2 opened #74 "Issue approving new members and issue with member not receiving an invite email"
**What is the e-mail address you are using to login to xehub**
algold2@uky.edu

**What is your chapter number and name**
58 University of Kentucky UKXE

**Describe the bug**
1. I have been having issues approving new members. I am President of the honor society and every time I try to click approve and continue for members who have accepted their invitation I receive an error message that I need t

[2022-01-18 03:40] jsiegel3 opened #75 "Closing out and taking attendance for an event group"
University of Maryland Chapter 52

We have already paid the dues for the 5pm December 2nd 2021 initiation and have receipt of this purchase. We do not have faculty approval, but we have the national officer approval. However, attendance has apparently not been taken for this event, for the initiated members do not show up as members of our chapter yet.

Here are some scenarios that lead to differe

[2022-02-01 01:16] MTUChiEpsilon opened #76 "Issue Adding new members or Officers"
**What is the e-mail address you are using to login to xehub**
oemattil@mtu.edu

**What is your chapter number and name**
Number 21 and Michigan Technological University (MICT)
**Describe the bug**
I am trying to add new members as well as update the officer list in XEhub. I am currently the vice president, but I believe that no officers are currently listed on XEhub. I am logged into XEhub and wh

[2022-02-01 16:56] gfick1 opened #77 "The main Chi Epsilon site is down"
**What is the e-mail address you are using to login to xehub**
gfick@nd.edu

**What is your chapter number and name**
Chapter 62, Notre Dame
**Describe the bug**
When trying to find out information about conference and just the national chapter in general, the Chi Epsilon site cannot be reached.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Help'
2. Click on 'Chi Epsilon Site'
4. Se

[2022-02-01 23:42] MTUChiEpsilon commented on #77
Hi,

I am having the same issue with the main site as well.

- Michigan Tech Chapter

[2022-02-16 22:29] psharvey opened #78 "Approve/Issue Invoice for Inititation"
**What is the e-mail address you are using to login to xehub**
harvey@ou.edu

**What is your chapter number and name**
#099 University of Oklahoma

**Describe the bug**
I submitted the order for our initiation (scheduled for Feb 16, 2022) back in December 2021, but haven't received an invoice yet. I've tried contacting Nationals multiple times but have not received a response. Now, the XEHub and c